section {

    margin: 0 auto;
    position: relative;
}

li {
    width: 700px;
    background: white;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
    margin-left: -104px;
}

.items {
    position: absolute;
}
.invoice-back {
    left: 6%;
}
.mobile-carusel-color {
    margin-right: 50px;
}
#owl-container {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}
.owl-theme .owl-controls {
   display: none;
}
.owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 5px;
    padding: 3px 10px;
    font-size: 5em;
    color: #495057;
}
#owl-container {
    position: relative;
}
#owl-demo {
    padding: 0 50px;
    text-align: center;
}
.owl-prev, .owl-next {
    position: absolute;
}
.owl-prev {
    top: 44%;
    left: 0;
}
.owl-wrapper {
    left: -245px !important;
}
.owl-next {
    top: 44%;
    right: 0;
}
.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-theme .owl-controls .owl-page span{
    display: none;
}
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
.item-owl-carousel {
    height: 1150px;
}

@media (max-width: 1440px) {
    .logotype-input {
        width: 284px;
        margin-bottom: 12px;
        height: 133px;
    }
    .colorpicker {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-right: 4px solid silver;
        width: 286px !important;
    }
}
@media (max-width: 1400px) {
    .item-owl-carousel {
        height: 869px;
    }
    .carusel-and-div {
        flex-direction: column;
    }
    .btn-save {
        width: 288px;
    }
    .owl-carousel .owl-wrapper-outer {
        width: 75%;
    }
    #owl-demo {
        padding: 0;
    }
    .owl-prev {
        left: -15px;
        top: 38%;
    }
    .owl-next {
        top: 38%;
        right: 20%;
    }
    .mobile-carusel-color {
        margin-left: 50px;
    }
    li {
        width: 480px;
        margin-left: -79px;
    }
    .owl-theme .owl-controls .owl-buttons div {
        font-size: 4em;
    }
}
@media (max-width: 1200px) {
    .owl-prev {
        top: 38%;
    }
    .owl-next {
        top: 38%;
    }
    #owl-container {
        width: 83%;
    }
    .owl-carousel .owl-wrapper-outer {
        width: 100%;
    }
    .custom-template {
        margin-left: 300px;
    }
    li {
        width: 435px;
        margin-left: -32px;
    }
    .mobile-carusel-color {
        margin-left: 116px;
    }
}
@media (max-width: 1100px) {
    .owl-prev {
        top: 38%;
        left: -50px;
    }
    .owl-next {
        right: 67px;
        top: 38%;
    }
}
@media (max-width: 992px) {
    .owl-next {
        right: 14px;
        top: 38%;
    }
    .item-owl-carousel {
        height: 780px;
    }
    li {
        margin-left: 25px;
    }
    .custom-template {
        margin-left: 0;
    }
    .mobile-carusel-color {
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    li {
        width: 260px;
    }
    .owl-carousel .owl-wrapper-outer {
        width: 100%;
    }
    .owl-carousel {
        width: 100% !important;
    }
    #owl-container {
        width: 100%;
    }
    .owl-next {
        top: 26%;
        right: 252px;
    }
    .owl-theme .owl-controls .owl-buttons div {
        font-size: 3em;
    }
    .owl-prev {
        top: 26%;
        left: 63px;
    }
    .invoice-template {
        max-width: 84%;
        margin-right: 0;
    }
    .customize-colorpicker {
        position: relative;
    }
    .abs-color {
        position: absolute;
        width: 40px;
        top: 0;
        left: -33px;
        height: 178px;
        background: white;
    }
    .logotype-input {
        width: 153px;
        height: 175px;
    }
    .text-6 {
        width: 139px;
        font-size: 11px;
    }
    .colorpicker {
        margin-right: 20px;
        margin-left: -200px;
    }
    .mobile-carusel-color {
        margin-right: 0;
    }
    .item-owl-carousel {
        height: 560px;
    }
    .btn-save {
        width: 200px;
        margin: 0 0 50px 10px;
    }
}
@media (max-width: 750px) {
    .owl-prev {
        display: none !important;
    }
    .owl-next {
        top: 26%;
        right: 32%;
    }
}
@media (max-width: 480px) {
    li {
        margin-left: 68px;
    }
    .owl-next {
        right: 18%;
    }
}
@media (max-width: 400px) {
    .owl-next {
        right: 7%;
    }
    li {
        width: 217px;
        margin-left: 123px;
    }
}