.billing-title {
    color: #58595B;
    font-family: "Segoe UI Semibold";
    font-size: 40px;
    margin: 60px auto 40px;
    line-height: 53px;
    max-width: 590px;
    text-align: center;
}
.billing-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    justify-content: flex-start;
    padding-top: 70px;
    padding-left: 280px;
    padding-bottom: 40px;
    max-width: 2000px;
}
.billing-title-2 {
    color: #8DC63F;
    font-family: "Segoe UI Semibold";
    font-size: 28px;
    margin: 0 auto;
    margin-bottom: 50px;
    line-height: 37px;
    text-align: center;
}
.from-me {
    width: 140px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #58595B;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI Semibold';
    color: #58595B;
}
.active-from-to {
    opacity: 0.5 !important;
}
.from-to {
    margin-top: 20px;
}
.billing-from-to {
    margin: 0 auto;
    width: 320px;
}
.billing-content .plans-secure {
    width: 100%;
}
.billing-content .plans-second-content {
    margin-top: 100px;
}
.billing-content .plans-second-section {
    width: 1250px;
}
.billing-content .plans-blocks {
    width: 30%;
}
.scale-plans-blocks {
    transform: scale(1.1);
}
.plans-submit-btn {
    border: 1px solid #8DC63F;
    padding: 10px;
    color: #8DC63F !important;
    background: transparent;
    font-family: 'Segoe UI Semibold';
    border-radius: 36px;
    text-align: center;
    width: 229px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
    transition: 0.3s ease-in-out;
    margin-bottom: 50px;
}
.plans-submit-btn:hover {
    cursor: pointer;
    color: #fff !important;
    background: #8DC63F;
}
.plans-clients-text {
    color: #58595B;
    font-family: "Segoe UI Semibold";
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 150px;
}
.plans-blocks .clip-path {
    position: relative;
}
.plans-blocks .clip-path:after {
    position: absolute;
    content: "";
    bottom: -157px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 160px 378px 0 0;
    border-color: #F8F8F8 transparent transparent transparent;
    filter: drop-shadow(1px 3px 0px rgba(0,0,0,0.2));
    left: 0px;
}
.scale-plans-blocks .clip-path:after {
    position: absolute;
    content: "";
    bottom: -157px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 160px 378px 0 0;
    border-color: #8dc63f transparent transparent transparent;
    filter: drop-shadow(1px 3px 0px rgba(0,0,0,0.2));
    left: 0px;
}
.billing-content .plans-blocks {
    padding: 0;
}
.billing-content .plans-blocks ul {
    padding: 0 36px 70px;
    height: 470px;
}
.border-line {
    height: 2px;
    width: 85%;
    background: #58595B;
    margin: 0 auto;
}
.billing-content .plans-blocks h1 {
    border-bottom: 0;
}
.scale-plans-blocks .clip-path {
    background: #8DC63F;
    color: #fff !important;
}
.scale-plans-blocks .border-line {
    background: #fff;
}
.scale-plans-blocks .plans-clients-text {
    color: #fff;
}
.scale-plans-blocks {
  background: #375A07;
  color: white !important;
}
.scale-plans-blocks ul li {
    color: white !important;
}
.scale-plans-blocks .plans-submit-btn {
    background: #8DC63F;
    color: white !important;
}
.plans-number-for-year {
    display: none;
}
.user-dashboard-1 {
    display: none;
}
.user-dashboard-2 {
    display: block;
}
.growth-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.growth-block-text {
    color: #58595B;
    font-family: "Segoe UI Semibold";
    font-size: 24px;
    margin-bottom: 25px;
}
.growth-block-text span {
    color: #58595B;
    font-family: "Segoe UI Regular";
    font-size: 14px;
}
.clients-50 {
   color: #58595B;
   font-family: "Segoe UI Regular";
   font-size: 20px;
   margin-bottom: 60px;
}
.billed-monthly {
    color: #58595B;
    font-family: "Segoe UI Semibold";
    font-size: 20px;
    margin-top: 20px;
}
.pay-variant {
    color: #58595B;
    font-family: "Segoe UI Regular";
    font-size: 20px;
    max-width: 230px;
    margin-top: 10px;
    margin-bottom: 60px;
}
.pay-variant a {
    color: #8DC63F !important;
}
.pay-variant a:hover {
    cursor: pointer;
}
.team-members-text {
    color: #69A11B;
    font-family: "Segoe UI Semibold";
    font-size: 16px;
    margin: 15px 0;
}
.help-manage-text {
    color: #58595B;
    font-family: "Segoe UI Regular";
    font-size: 16px;
    margin-top: 30px;
}
.billing-add-text {
    color: #58595B;
    font-family: "Segoe UI Semibold";
    font-size: 16px;
    margin-top: 30px;
}
.minus-plus-block {
    margin: 15px 0;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}
.minus-plus-block div {
    width: 24px;
    height: 24px;
    color: #58595B;
    font-family: "Segoe UI Semibold";
    font-size: 16px;
    border: 1px solid silver;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.minus-plus-block .minus:hover,
.minus-plus-block .plus:hover {
    cursor: pointer;
}
.billing-upgrade-content .new-expense-right {
    width: 48%;
}
.plans-submit-for-year {
    display: none;
}
.billing-upgrade-content .cards-block {
    width: 130px;
    height: 87px;
}
.billing-upgrade-content .cards-block .cards-png {
    width: 77%;
}
.billing-upgrade-content .cards {
    margin-bottom: 40px;
}
.line-pay {
    width: 470px;
    height: 1px;
    background: #707070;
    margin-bottom: 18px;
}
.billing-upgrade-content .enter-card {
    width: 470px;
}
.billing-upgrade-content .card-form .input-block {
    margin-bottom: 18px;
    margin-left: -175px;
}
.billing-upgrade-content .expiry-date {
    width: 147px;
}
.billing-upgrade-content .input-block select {
    -webkit-appearance: none;
    position: relative;
    width: 470px;
    border: 1px solid #9F9F9F;
    border-radius: 4px;
    padding: 20px;
    font-size: 18px;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    height: 63px;
}
.billing-upgrade-content .select-icon {
    pointer-events: none;
    position: absolute;
    right: 53px;
    top: 27px;
}










@media (max-width: 1600px) {
    .billing-upgrade-content .enter-card,
    .billing-upgrade-content .input-block select {
        width: 360px;
    }
    .billing-upgrade-content .card-form .input-block {
        margin-bottom: 18px;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 116px;
    }
    .line-pay {
        width: 360px;
        margin-left: 115px;
    }
    .billing-upgrade-content .card-form label {
        margin-right: 0;
        text-align: left;
        width: 100%;
    }
    .billing-upgrade-content .select-icon {
        pointer-events: none;
        position: absolute;
        right: 104px;
        top: 33px;
    }
    .mobile-top-big {
        top: 58px !important;
    }
    .billing-upgrade-content .expiry-date {
        width: 134px;
    }
    .billing-upgrade-content .new-expense-right {
        width: 53%;
    }
    .billing-content .plans-blocks {
        width: 280px;
    }
    .plans-blocks .clip-path:after {
        border-width: 100px 281px 0 0;
    }
    .plans-number {
        font-size: 62px;
    }
    .plans-clients-text {
        margin-top: 0;
        margin-bottom: 82px;
        font-size: 23px;
    }
    .scale-plans-blocks .clip-path:after,
    .plans-blocks .clip-path:after {
        bottom: -99px;
    }
    .plans-blocks ul li {
        font-size: 14px;
    }
    .billing-content .plans-blocks ul {
        padding: 30px 18px 0;
    }
    .plans-submit-btn {
        margin-top: 0;
    }
    .billing-content .plans-second-section {
        width: 96%;
    }
    .billing-content {
        padding-left: 220px;
    }
}
@media (max-width: 1200px) {
    .billing-upgrade-content .enter-card,
    .billing-upgrade-content .input-block select {
        width: 100%;
    }
    .billing-upgrade-content .card-form .input-block{
        margin-left: 0;
    }
    .line-pay {
        width: 100%;
        margin-left: 0;
    }
    .billing-upgrade-content .select-icon {
        right: 23px !important;
    }
    .billing-upgrade-content .new-expense-right {
        width: 80%;
    }
    .billing-upgrade-content .billing-pay-content {
        width: 100%;
    }
    .small-img {
        flex-direction: row !important;
    }
    .billing-upgrade-content .new-expense-content {
        flex-direction: column-reverse;
    }
    .billing-content .plans-blocks {
        width: 225px;
    }
    .plans-blocks h1 {
        font-size: 23px;
    }
    .plans-goals {
        font-size: 15px;
    }
    .plans-number {
        font-size: 45px;
    }
    .plans-clients-text {
        margin-top: 0;
        margin-bottom: 62px;
        font-size: 19px;
    }
    .plans-blocks .clip-path:after {
        border-width: 52px 230px 0 0;
    }
    .scale-plans-blocks .clip-path:after,
    .plans-blocks .clip-path:after {
        bottom: -51px;
    }
    .billing-content .plans-blocks ul {
        padding: 0 8px 0;
    }
    .plans-blocks ul li {
        font-size: 12px;
    }
    .plans-submit-btn {
        padding: 9px;
        width: 90%;
        font-size: 17px;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .plans-blocks ul li {
        font-size: 10px;
        line-height: 29px;
    }
    .billing-content .plans-blocks ul {
        height: 325px;
    }
    .billing-content .plans-blocks {
        min-height: auto;
    }
    .billing-content .plans-second-content {
        min-height: auto;
    }
    .plans-blocks .clip-path:after {
        filter: drop-shadow(0px 2px 0px rgba(0,0,0,0.2));
    }
}
@media (max-width: 992px) {
    .billing-upgrade-content .new-expense-right {
        width: 95%;
    }
    .billing-upgrade-content .new-expense-right {
        width: 95%;
    }
    .billing-upgrade-content .small-img {
        flex-direction: column !important;
    }
    .billing-upgrade-content .expiry-date {
        width: 100%;
    }
    .billing-content {
        padding-left: 0;
    }
    .billing-title {
        font-size: 26px;
        margin: 0 auto 28px;
        line-height: 44px;
        max-width: 100%;
    }
    .billing-title-2 {
        font-size: 23px;
        margin-bottom: 50px;
        line-height: 24px;
    }
    .plans-secure img {
        width: 82px;
        margin-bottom: 9px;
    }
    .plans-secure h1 {
        font-size: 20px;
    }
    .plans-secure p {
        width: 77%;
    }
}
@media (max-width: 767px) {
    .billing-upgrade-content .cards {
        margin-bottom: 40px;
        flex-direction: column;
    }
    .billing-upgrade-content .cards-block {
        margin-bottom: 20px;
    }
    .billing-content .plans-second-content {
        flex-direction: column;
        align-items: center;
    }
    .billing-content .plans-blocks {
        width: 300px;
    }
    .plans-blocks .clip-path:after {
        display: none;
    }
    .billing-content .plans-blocks {
        margin-bottom: 90px;
    }
    .billing-content .plans-blocks ul {
        padding: 0 15px 0;
    }
    .plans-blocks ul li {
        font-size: 13px;
    }
    .plans-submit-btn {
        width: 70%;
    }
    .plans-goals {
        font-size: 15px;
        max-width: 233px;
    }
    .scale-plans-blocks .clip-path {
        padding-bottom: 1px;
    }
    .billing-title, .billing-title-2 {
        max-width: 90%;
    }
    .dashboard-header-title {
        width: 65%;
    }
}
@media (max-width: 480px) {
    .billing-upgrade-content .new-expense-right {
        width: 93%;
        padding: 0 10px;
    }
    .help-manage-text {
        margin-bottom: 15px;
    }
    .billing-title {
        font-size: 21px;
        line-height: 34px;
    }
    .billing-title-2 {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .billing-from-to {
        width: 267px;
    }
    .from-me {
        width: 114px;
    }
    .billing-content .plans-second-content {
        margin-top: 56px;
    }
    .billing-content .plans-blocks {
        width: 274px;
    }
    .scale-plans-blocks {
        transform: none;
    }
    .plans-secure img {
        width: 69px;
        margin-bottom: 25px;
    }
    .dashboard-header-title {
        width: 65%;
    }
}

