.dashboard-company-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 20px 60px 220px;
}
.dashboard-company-content form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.base-select,
.dashboard-form .input-rate {
    width: 110px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 14px;
}
.standart-rate {
    display: none;
}

.base-select-block img {
    pointer-events: none;
    position: absolute;
    left: 236px;
    top: 21px;
}
.base-select-block select {
    -webkit-appearance: none;
    position: relative;
    color: #58595B;
}
.address-select img {
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 24px;
}
.address-select select {
    -webkit-appearance: none;
    position: relative;
    width: 450px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 14px;
    color: #58595B;
}

@media (max-width: 1600px) {
    .dashboard-company-content form {
        flex-direction: column;
        margin-left: 90px;
    }
    .dashboard-company-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px 20px;
    }
}
@media (max-width: 992px) {
    .dashboard-company-content form {
        margin-left: 0;
    }
    .user-data-title {
        margin-top: 9px;
        font-size: 15px;
        line-height: 14px;
    }
    .user-data {
        padding: 10px;
    }
}
@media (max-width: 767px) {
    .standart-rate {
        display: inline-block !important;
        color: #495057;
        margin-left: 11px;
    }
    .open-close-arrow img {
        width: 20px;
    }
    .base-select-block span {
        display: none;
    }
    .base-select-block img {
        left: 220px;
    }
    .address-select select {
        width: 100%;
    }
    .form-all-content {
        width: 100%;
    }
    .address-select img {
        right: 15px;
        top: 46px;
    }
    .base-select-block {
        flex-direction: column;
    }
    .base-select-block select {
        width: 100%;
    }
    .base-select, .dashboard-form .input-rate {
        width: 100%;
    }
    .base-select-block > div {
        width: 100%;
    }
    .base-select-block div:first-child {
        margin-bottom: 20px;;
    }
    .base-select-block img {
        left: inherit;
        top: 57px;
    }
     .settings-block-item-img img {
        width: 26px;
    }
}
@media (max-width: 480px) {
    .user-data-img {
        width: 40px;
    }
}