.form-control:focus {
    outline: none;
    border-color: silver;
    box-shadow: 0 0 0 0.2rem transparent;
}
.input-filed {
    margin-top: 10px;
}
.user-dashboard-1 {
    display: block;
}
.user-dashboard-2 {
    display: none;
}
.exp-clients-btn {
    text-transform: uppercase;
    border-radius: 32px;
    border: 1px solid #707070;
    color: #707070;
    background: transparent;
    margin-left: 20px;
    width: 290px;
    padding: 7px;
    font-size: 20px;
    font-family: 'Segoe UI Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.89px;
    transition: 0.3s ease-in-out;
}
.projects-timing {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.projects-timing .invoice-item {
    width: 100%;
    height: 100%;
}
.projects-timing .invoices-first-item {
    margin-right: 15px;
    width: 27%;
}
.projects-timing .invoice-item h4 {
    margin-left: 0;
    margin-top: 10px;
}
.projects-timing .invoices-item-click {
    margin-right: 15px;
    width: 18%;
}
.new-clients-btn {
    text-transform: uppercase;
    border-radius: 32px;
    color: white !important;
    border: 1px solid #8DC63F;
    background: #8DC63F;
    margin-left: 20px;
    font-family: 'Segoe UI Regular';
    width: 290px;
    font-size: 20px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.89px;
    transition: 0.3s ease-in-out;
}
.prints-clients-btn {
    border-radius: 32px;
    border: 1px solid #707070;
    margin-left: 20px;
    width: 90px;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.color-green {
    color: #8DC63F;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
}
.prints-clients-btn img {
    width: 25px
}
.prints-clients-btn:hover {
    cursor: pointer;
    background: #ebece985;
}
.exp-clients-btn:hover {
     cursor: pointer;
     border: 1px solid #8DC63F;
     background: #8DC63F;
     color: white !important;
 }
.new-clients-btn:hover {
    cursor: pointer;
    border: 1px solid #707070;
    color: #707070 !important;
    background: transparent;
}
.clients-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 130px;
}
.dashboard-clients-title {
    font-size: 24px;
    font-family: 'Segoe UI Semibold';
    padding-left: 340px;
    text-align: center;
}
.dashboard-clients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    justify-content: flex-start;
    padding-top: 80px;
    padding-left: 340px;
    padding-right: 120px;
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.dashboard-content-title {
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
    margin-bottom: 23px;
}
.block-recently {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.block-item {
    width: 300px;
    height: 190px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #D1D1D1;
}
.block-item-color {
    width: 300px;
    height: 190px;
    display: flex;
}
.color-1::before {
    content: " ";
    width: 10px;
    display: block;
    height: 100%;
    background: #79B7AC;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.color-2::before {
    content: " ";
    width: 10px;
    display: block;
    height: 100%;
    background: #C3CBCD;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.color-3::before {
    content: " ";
    width: 10px;
    display: block;
    height: 100%;
    background: #F7B7D2;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.block-item-inside {
    width: 309px;
    height: 190px;
    padding: 20px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
}
.block-item-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.item-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 25px;
}
.item-name {
    font-size: 22px;
    font-family: 'Segoe UI Semibold';
}
.item-name-1 {
    color: #79B7AC;
}
.item-name-2 {
    color: #C3CBCD;
}
.item-name-3 {
    color: #F7B7D2;
}
.item-circle-1 {
    border: 2px solid #79B7AC;
}
.item-circle-2 {
    border: 2px solid #C3CBCD;
}
.item-circle-3 {
    border: 2px solid #F7B7D2;
}
.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
a.image-upload:hover {
  color: transparent;
}
.add-new-client {
    font-size: 18px;
    color: #8DC63F;
    font-family: 'Segoe UI Semibold';
    margin-top: 20px;
}
.item-text-address p {
    font-size: 16px;
    color: #58595B;
    line-height: 21px;
    font-family: 'Segoe UI Regular';
    margin-bottom: 4px;
}
.image-upload > input
{
    display: none;
}
.image-upload img
{
    width: 80px;
    cursor: pointer;
}
.table-clients {
    width: 100%;
    overflow-x: auto;
    padding-top: 80px;
}
.table-title {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Segoe UI Semibold';
    color: #58595B;
}
table td {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Segoe UI Regular';
    color: #58595B;
    transition: 0.3s ease-in-out;
}
table td:hover {
    cursor: pointer;
    background: #f9f9f9;
}
.table tr {
    transition: 0.3s ease-in-out;
}
.table tr:hover {
    background: #f8f9fa;
    cursor: pointer;
}
.table tr th.part,
.table tr td.part {
    text-align: right;
}
.last-block {
    background: #f8f9fa;
    font-size: 18px;
    color: #58595B;
    text-align: right;
    font-family: 'Segoe UI Semibold';
}
.table tr td.last {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    border-top: 1px solid #dee2e6;
}
.table td, .table th {
    padding: 0;
    height: 60px;
    vertical-align: middle;
}
.table thead th {
    vertical-align: middle;
}
.dropdown-toggle::after {
    display: none;
}
.table-title .dropdown-toggle:hover {
    cursor: pointer;
}
.table-title .dropdown-toggle img {
    margin-left: 3px;
    width: 18px;
}
.table-title .dropdown-item {
    font-size: 18px;
    font-family: 'Segoe UI Regular';
    color: #58595B;
}
.inside-line {
    height: 1px;
    background: #58595B;
    margin: 0 auto;
    width: 140px;
}
.table thead th {
    border-bottom: none;
}
.table thead th:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.paid-faster {
    color:#8DC63F;
    font-family: 'Segoe UI Semibold';
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.checkmark {
    position: absolute;
    top: -6px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius:4px;
    border:1px solid  #707070;
}
.container input:checked ~ .checkmark {
    background-color: #8dc63f;
    border: 1px solid #8dc63f;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.del-top {
    border-top: 0 !important;
}
.edit-delete-archive {
    visibility: visible !important;
}
.new-clients-btn:hover {
    cursor: pointer;
}
.clients-header-title {
    height: 74px;
    display: flex;
    background: #8DC63F;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: 24px;
    font-family: 'Segoe UI Semibold';
}
.add-new-close {
    font-size: 36px;
    height: 58px;
}
.add-new-close:hover {
    cursor: pointer;
}
.modal-body {
    padding: 60px;
}
.left-modal {
    margin-right: 40px;
}
.modal-dialog {
    max-width: 780px;
}
.add-new-client-title {
    width: 94%;
    text-align: center;
}
.change-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 28px;
}
.change-block input {
    border: 0;
    border-bottom: 1px solid silver;
}
.change-block input:focus {
    outline: none;
    border-color: silver;
    box-shadow: 0 0 0 0.2rem transparent;
}
#first-last-name {
    display: none;
}
.modal-circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-client{
    font-size: 18px;
    color: #58595B;
    font-family: 'Segoe UI Semibold';
}
.btn-block-for-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.first-modal-content {
    display: flex;
}
.individual {
    margin-left: 60px;
}
label,
input[type="radio"] + span,
input[type="radio"] + span::before {
    display: inline-block;
    vertical-align: middle;
}
input[type="radio"] + span {
    font-size: 20px;
    color: #58595B;
    font-family: 'Segoe UI Semibold';
}
label {
    cursor: pointer;
}
input[type="radio"]
{
    opacity: 0;
    position: absolute;
}
input[type="radio"] + span {
    font-size: 20px;
    color: #58595B;
    font-family: 'Segoe UI Semibold';
}
input[type="radio"] + span::before,
input[type="checkbox"] + span::before
{
    content: "";
    font-size: 25px;
    width: 18px;
    height: 18px;
    margin: 0 4px 0 0;
    line-height: 14px;
    text-align: center;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #fff;
}
input[type="radio"]:checked + span::before {
    content: "\2022";
    font-size: 25px;
    width: 18px;
    height: 18px;
}
input[class="blue"] + span::before
{
    border: solid 1px #69A11B;
    background: #fff;
}
input[class="blue"]:checked + span::before
{
    color: #69A11B;
}
.z-index-modal {
    z-index: 11111;
}
.form-control {
    width: 100%;
    font-family: 'Segoe UI Semibold';
}
.close-open-form {
    width: 100%;
}
.form-new-client {
    width: 350px;
}
#first-last-name input {
   width: 45%;
}
.table-inner-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}
.search-table {
    display: flex;
    justify-content: flex-start;
    padding: 12px 15px;
    width: 500px;
    border: 1px solid #D1D1D1;
    border-radius: 25px;
}
.search-table-input {
    font-size: 14px;
    font-family: 'Segoe UI Regular';
    color: #D1D1D1;
    border: 0;
    padding-left: 15px;
    width: 90%;
}
.search-table-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    background: transparent;
    border: 0;
    border-right: 1px solid #D1D1D1;
}
.time-traking .image-upload img {
    width: 55px;
    cursor: pointer;
}
.track-td {
    padding-right: 10px;
}
.new-projects {
    position: relative;
    max-width: 650px;
    width: 100%;
}
.new-projects-content {
    position: absolute;
    bottom: 25px;
    width: 94%;
    margin: 20px 20px 0 24px;
}
.text-9 {
    font-size: 20px;
    font-family: 'Segoe UI Semibold';
    color: #58595B;
    margin-bottom: 5px;
}
.text-10 {
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
    color: #58595B;
    border: 0;
    width: 100px;
}
.new-projects-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.projects-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 33%;
}
.projects-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
}
.projects-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 33%;
}
.new-projects-line {
    background: #707070;
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
}
.text-11 {
    font-size: 18px;
    font-family: 'Segoe UI Regular';
    color: #58595B;
    margin-bottom: 10px;
}
.new-projects-design-btn {
    border-radius: 32px;
    color: white !important;
    border: 1px solid #8DC63F;
    background: #8DC63F;
    margin-right: 20px;
    font-family: 'Segoe UI Regular';
    width: 109px;
    font-size: 16px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.89px;
    transition: 0.3s ease-in-out;
}
.new-projects-btns {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.new-projects-design-btn:hover {
    border: 1px solid #707070;
    color: #707070 !important;
    background: transparent;
    cursor: pointer;
}
.new-projects-design-btn img {
    width: 13px;
    margin-left: 10px;
}
.new-projects-service-btn {
    border-radius: 32px;
    color: #58595B !important;
    border: 1px solid #58595B;
    background: transparent;
    margin-right: 20px;
    font-family: 'Segoe UI Regular';
    width: 134px;
    font-size: 16px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.89px;
    transition: 0.3s ease-in-out;
}
.new-projects-service-btn:hover {
    border: 0;
    color: white !important;
    background: #8DC63F;
    cursor: pointer;
}
.new-projects-service-btn img {
    width: 13px;
    margin-right: 8px;
}
.text-12 {
    font-size: 20px;
    font-family: 'Segoe UI Regular';
    color: #58595B;
    border: 0;
    width: 100%;
    margin-bottom: 110px;
}
.project-members-left {
    margin-left: 112px;
}
.text-13 {
    font-size: 20px;
    font-family: 'Segoe UI Regular';
    color: #58595B;
}
.project-members {
    justify-content: space-between;
    display: flex;
    margin-bottom: 70px;
    width: 100%;
}
.project-members-image {
}
.project-members-image img {
    width: 40px;
    height: 40px;
}
.assign-text {
    font-size: 20px;
    font-family: 'Segoe UI Regular';
    color: #8DC63F;
}










@media (max-width: 1700px) {
    .block-item,
    .block-item-color {
        width: 232px;
    }
    .block-item-inside {
        padding: 12px;
    }
    .item-name {
        font-size: 15px;
    }
    .image-upload img {
        width: 55px;
    }
    .item-text-address p {
        font-size: 13px;
    }
    .add-new-client {
        font-size: 15px;
    }
    .exp-clients-btn,
    .new-clients-btn {
        font-size: 15px;
    }
}
@media (max-width: 1400px) {
    .projects-timing .invoices-item-content {
        justify-content: center;
    }
    .projects-timing .invoices-item-content-p {
        margin-top: 6px;
    }
    .table thead th {
        font-size: 14px;
    }
    .table thead th {
        vertical-align: baseline;
    }
    table td {
        font-size: 12px;
    }
    .prints-clients-btn,
    .exp-clients-btn,
    .new-clients-btn {
        padding: 14px;
    }
    .billing-upgrade-content .select-icon {
        right: 50px !important;
    }
    .dashboard-clients {
        padding-left: 240px;
        padding-right: 16px;
    }
    .modal-body {
        padding: 30px;
    }
    .modal-content {
        width: 80%;
    }
    .modal-dialog {
        -webkit-transform: translate(0,0);
        display: flex;
        justify-content: center;
    }
    .dashboard-clients-title {
        padding-left: 250px;
    }
}
@media (max-width: 1200px) {
    .prints-clients-btn img {
        width: 22px;
    }
    .prints-clients-btn {
        margin-left: 4px;
    }
    .exp-clients-btn,
    .new-clients-btn {
        width: 225px;
        letter-spacing: 0;
        font-size: 14px;
        margin-left: 4px;
    }
    .dashboard-clients-title {
        font-size: 20px;
        padding-left: 224px;
    }
    .clients-btns {
        margin-right: 20px;
    }
    .block-item, .block-item-color {
        width: 182px;
    }
    .item-circle {
        width: 28px;
        height: 28px;
        margin-right: 10px;
    }
    .image-upload img {
        width: 41px;
    }
    .item-text-address p {
        font-size: 12px;
    }
    .block-item-inside {
        padding: 15px 8px;
    }
}
@media (max-width: 992px) {
    .prints-clients-btn {
        height: 32px;
    }
    .prints-clients-btn img {
        width: 17px;
    }
    .table-inner-search {
        justify-content: center
    }
    .block-recently {
        justify-content: center;
    }
    .dashboard-clients {
        padding: 25px;
    }
    .dashboard-clients-title {
        padding-left: 25px;
    }
    .clients-btns {
        margin-right: 0;
    }
    .exp-clients-btn,
    .new-clients-btn {
        width: 180px;
        font-size: 15px;
    }
    .dashboard-content-title {
        display: none;
    }
    .block-item-color {
        display: none;
    }
}
@media (max-width: 767px) {
    .form-image {
        width: 100%;
    }
    .text-12 {
        margin-bottom: 70px;
    }
    .projects-timing {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .projects-timing .invoices-item-click {
        width: 54%;
        margin-right: 0;
        margin-top: 20px;
    }
    .projects-timing .invoices-first-item {
        margin-right: 0;
        height: 160px;
        width: 54%;
    }
    .search-table {
        width: 100%;
    }
    .search-table-button {
        width: 30px;
    }
    .search-table-button img {
        width: 100%;
    }
     .table-clients {
        overflow-x: auto;
        padding-top: 70px;
        max-width: 700px;
    }
    .table thead th {
        text-align: center;
    }
    .table tr th.part, .table tr td.part {
        text-align: center;
    }
    .table td, .table th {
        padding: 0 15px;
        height: 60px;
        text-align: center;
        vertical-align: middle;
    }
    .hide-sometime {
        display: none;
    }
    .table-title .dropdown-toggle img {
        margin-left: 0px;
        width: 12px;
    }
    .right-modal {
        width: 93%;
        text-align: center;
    }
    .right-modal > div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .clients-btns {
        display: flex;
        justify-content: center;
    }
    .prints-clients-btn,
    .exp-clients-btn,
    .new-clients-btn {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 140px;
        font-size: 10px;
        margin-left: 5px;
    }
    table td {
        font-size: 10px;
    }
    .table thead th {
        font-size: 12px;
    }
    .checkmark {
        top: -6px;
        left: 0;
        height: 15px;
        width: 15px;
    }
    .container .checkmark:after {
        left: 5px;
        top: 1px;
        width: 5px;
        height: 10px;
    }
    .first-modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .modal-circle {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }
    .add-client {
        font-size: 15px;
    }
    .modal-body {
        padding: 30px 10px;
    }
    .table-title .dropdown-item {
        font-size: 15px;
    }
    .dashboard-clients-title {
        padding-left: 10px;
    }
}
@media (max-width: 680px) {
    .form-image {
       display: none;
    }
    .new-projects-content {
        position: static;
    }
    .project-members-left {
        margin-left: 0;
    }
    .project-members {
        margin-bottom: 32px;
        flex-direction: column;
    }
    .text-13 {
        margin-top: 20px;
    }
    .text-12 {
        margin-bottom: 25px;
    }
}
@media (max-width: 480px) {
    .new-projects-text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
    }
    .projects-center, .projects-right {
        display: block;
        margin-top: 20px;
        width: 100%;
    }
    .projects-left {
        width: 100%;
    }
    .assign-text {
        margin-left: 8px;
    }
    .new-projects-btns {
        flex-direction: column;
    }
    .new-projects-design-btn {
        width: 134px;
        margin-bottom: 20px;
    }
    .text-10 {
        text-align: left !important;
    }
    .projects-timing .invoices-first-item {
        width: 95%;
    }
    .projects-timing .invoices-item-click {
        width: 95%;
    }
    .dashboard-clients-title {
        padding-left: 0;
        width: 100%;
    }
    .add-client {
        font-size: 13px;
    }
    .individual {
        margin-left: 3px;
    }
    .add-new-client-title {
        font-size: 18px;
    }
    .add-new-close {
        font-size: 30px;
        height: 48px;
    }
    input[type="radio"] + span {
        font-size: 16px;
    }
    .btn-block-for-clients {
        flex-direction: column;
    }
    .modal-circle {
        width: 100px;
        height: 100px;
    }
    .clients .dashboard-header-title {
        padding-left: 12px;
        font-size: 16px;
    }
    .exp-clients-btn,
    .new-clients-btn {
        margin-left: 0;
        margin-right: 0;
    }
    .clients-btns {
        flex-direction: column;
        width: 100%;
    }
}

