.cover-item {
    width: 100%;
    height: 1087px;
    position: absolute;
    background: #ffffff00;
    left: 349px;
    top: 39px;
    z-index: 9999;
}
.choose-template {
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    padding-right: 5px;
}
.logotype-input {
    width: 358px;
    height: 263px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    margin-bottom: 75px;
}
.btn-save {
    text-transform: uppercase;
    border-radius: 32px;
    color: white !important;
    border: 1px solid #8DC63F;
    background: #8DC63F;
    margin-left: 0;
    font-family: 'Segoe UI Regular';
    width: 100%;
    font-size: 20px;
    height: 63px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.89px;
    transition: 0.3s ease-in-out;
}
.btn-save:hover {
    cursor: pointer;
    border: 1px solid #707070;
    color: #707070 !important;
    background: transparent;
}
.text-6 {
    width: 170px;
    font-size: 16px;
    font-family: "Segoe UI Regular";
    color: #58595B;
    text-align: center;
    margin-top: 20px;
}
.border-right-black {
    border-right: 1px solid #707070;
    margin: 0 10px;
}
.text-4 {
    font-size: 18px;
    font-family: "Segoe UI Semibold";
    color: #58595B;
    margin-bottom: 20px;
    text-align: left;
}
.customize-colorpicker {
    margin-bottom: 75px;
}
.custom-template {
    display: flex;
    justify-content: space-between;
    max-width: 1700px;
    margin-left: 340px;
    margin-top: 76px;
    margin-right: 22px;
}

.invoice-back {
    position: absolute;
    top: -57px;
    left: -126px;
    color: #8DC63F;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #707070;
}
.invoice-back span {
    padding-right: 6px;
}
.invoice-back img {
    margin-right: 5px;
}
a.invoice-back:hover {
    cursor: pointer;
    color: #8DC63F;
    text-decoration: none;
}
.carusel-and-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
input:disabled {
    background: transparent;
}


/*11111111111111111111111111111*/
.gr-template {
    max-width: 1000px;
    margin: 40px auto 100px;
    position: relative;
    margin-right: 3px;
    z-index: 111;
    border: 1px solid #58595B;
    height: 1070px;
}
.gr-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background: #69A11B;
}
.gr-text-1 {
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
    color: white;
}
.gr-text-2 {
    font-size: 15px;
    margin-top: 5px;
    font-family: 'Segoe UI Semibold';
    color: white;
}
.gr-input-1 {
    width: 100%;
    border: 0;
    color: white;
    background: transparent;
}
.gr-input-1::placeholder {
    color: white;
}
.gr-input-2 {
    width: 100px;
    text-align: right;
    border: 0;
    color: white;
    background: transparent;
    border-bottom: 1px solid silver;
}
.gr-input-2::placeholder {
    color: white;
}
.gr-header-right {
    text-align: right;
}
.gr-body {
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
}
.gr-footer {
    height: 29px;
    background: #8DC63F;
}
.gr-content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gr-content-1-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #707070;
    width: 100%;
    height: 110px;
}
.gr-content-1-logo input {
    display: none;
}
.gr-content-1-logo label {
    color: #58595B;
    font-size: 24px;
    font-family: 'Segoe UI Semibold';
    justify-content: center!important;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.gr-content-1-logo label:hover {
    cursor: pointer;
}
.gr-text-3 {
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    font-size: 20px;
}
.gr-text-4 {
    color: #0D83DD;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    margin-top: 5px;
}
.gr-date-issue {
    height: 150px;
}
.gr-text-5 {
    color: #8DC63F;
    font-size: 15px;
    font-family: 'Segoe UI Semibold';
}
.gr-text-6 {
    color: #58595B;
    font-size: 15px;
    width: 180px;
    margin-bottom: 22px;
    border: 0;
    font-family: 'Segoe UI Semibold';
    border-bottom: 1px solid #58595B;
}
.gr-due-date {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    padding: 5px;
    width: 180px;
    padding-left: 2px;
    margin-bottom: 10px;
}
.custom-input {
    display: none;
}
.gr-content-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    align-items: center;
    position: relative;
}
.gr-content-block-1 {
    width: 50%;
}
.gr-content-block-2 {
    width: 50%;
}
.gr-content-2 input:focus {
    border: 1px solid silver;
}
.gr-content-block-2 {
    text-align: left;
    width: 400px;
}
.gr-text-7 {
    color: #8DC63F;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    font-family: 'Segoe UI Semibold';
}
.gr-text-8 {
    color: #58595B;
    font-family: 'Segoe UI Bold';
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #fff;
    width: 100%;
}
.gr-text-9 {
    color: #58595B;
    font-size: 17px;
    line-height: 20px;
    font-family: 'Segoe UI Semibold';
    border: 1px solid #fff;
    width: 100%;
    text-align: center;
}
.open-close-user {
    position: absolute;
    right: 0;
    top: 91px;
    width: 180px;
    border: 1px solid #707070;
    padding: 10px;
    background: white;
    z-index: 111111111;
}
.open-clickable {
    display: none;
}
.open-close-user img {
    width: 30px;
}
.open-close-user .samll-icons img {
    width: 100%;
}
.gr-content-3 {
    margin-top: 20px;
}
.gr-content-3 table {
    width: 100%;
}
.gr-content-3 thead {
    padding: 0 35px;
    height: 53px;
    background: #8DC63F;
    color: white;
}
.gr-content-3 th {
    padding: 6px;
    text-align: center;
}
.gr-content-3 td {
    padding: 3px;
    text-align: center;
    line-height: 21px;
    font-family: 'Segoe UI Regular';
    color: #58595B;
    transition: 0.3s ease-in-out;
    font-size: 14px;
}
.gr-content-3 td:hover {
    background: transparent;
}
.gr-content-3 table input {
    border: 0;
    text-align: center;
}
.gr-content-3 table input:focus {
    border: 1px solid silver;
}
.gr-add-line td {
    color: #58595B;
    font-size: 17px;
    font-family: 'Segoe UI Bold';
    line-height: 31px;
    padding-left: 0;
    border: 1px solid #fff;
}
.gr-line-1 {
    width: 100%;
    height: 1px;
    background: #707070;
    margin-top: 10px;
}
.gr-select-1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 100%;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
}
.gr-content-4 {
    text-align: left;
    width: 100%;
}
.gr-text-10 {
    color: #8DC63F;
    font-size: 16px;
    margin-top: 18px;
    font-family: 'Segoe UI Semibold';
}
.gr-text-11 {
    color: #58595B;
    font-size: 17px;
    font-family: 'Segoe UI Semibold';
}
.gr-content-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.gr-content-5-block {
    text-align: left;
}
.gr-content-5-block input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #636364;
    font-size: 15px;
    font-family: 'Segoe UI Semibold';
    color: #636364;
    padding-left: 13px;
    margin-top: 5px;
}
.gr-back {
    position: absolute;
    top: 0;
    left: -70px;
    color: #8DC63F;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #707070;
}
.gr-back img {
    margin-right: 5px;
}
.gr-back span {
    padding-right: 6px;
}


/*22222222222222222222222222222*/


.bz-template {
    max-width: 1000px;
    margin: 40px auto 100px;
    position: relative;
    margin-right: 3px;
    z-index: 111;
    border: 1px solid #58595B;
    height: 1070px;
}
.bz-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px;
}
.bz-header-left {
    background: #9F6E17;
    width: 43%;
    padding: 7px;
}
.bz-text-1 {
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
    color: #9f6e17;
}
.bz-text-2 {
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Segoe UI Semibold';
    color: #58595B;
}
.bz-input-1 {
    width: 100%;
    border: 0;
    font-size: 16px;
    color: #58595B;
    background: transparent;
}
.bz-input-1::placeholder {
    color: #58595B;
}
.bz-input-2 {
    width: 100px;
    border: 0;
    color: #58595B;
    background: transparent;
    text-align: right;
    border-bottom: 1px solid silver;
}
.bz-input-2::placeholder {
    color: #58595B;
}
.bz-header-right {
    text-align: right;
    width: 50%;
    padding-right: 10px;
}
.bz-body {
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
}
.bz-footer {
    height: 40px;
}
.bz-content-1 {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.bz-content-1-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #707070;
    width: 400px;
    height: 110px;
    margin: 20px;
}
.bz-content-1-logo input {
    display: none;
}
.bz-content-1-logo label {
    color: #58595B;
    font-size: 24px;
    font-family: 'Segoe UI Semibold';
    justify-content: center!important;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bz-content-1-logo label:hover {
    cursor: pointer;
}
.bz-text-3 {
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    font-size: 20px;
}
.bz-text-4 {
    color: #0D83DD;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    margin-top: 5px;
}
.bz-date-issue {
    height: 120px;
    align-items: flex-end;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}
.bz-text-5 {
    color: #9F6E17;
    font-size: 15px;
    font-family: 'Segoe UI Semibold';
}
.bz-text-6 {
    color: #58595B;
    font-size: 13px;
    width: 180px;
    margin-bottom: 22px;
    border: 0;
    font-family: 'Segoe UI Semibold';
    border-bottom: 1px solid #58595B;
}
.bz-due-date {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 14px;
    padding: 2px;
    width: 180px;
    padding-left: 2px;
}
.custom-input {
    display: none;
}
.bz-content-2 {
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.bz-content-2 input:focus {
    border: 1px solid silver;
}
.bz-content-block-2 {
    display: flex;
    margin-top: 10px;
    align-items: flex-start;
    flex-direction: column;
}
.bz-text-7 {
    color: #fff;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
    font-family: 'Segoe UI Semibold';
}
.bz-text-8 {
    color: #fff;
    font-family: 'Segoe UI Bold';
    font-size: 16px;
    line-height: 24px;
    background: transparent;
    padding-left: 10px;
    border: 0;
    width: 100%;
}
.bz-text-8::placeholder {
    color: white;
}
.bz-text-9 {
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Segoe UI Semibold';
    padding-left: 10px;
    width: 100%;
    border: 0;
    background: transparent;
}
.bz-text-12 {
    color: #58595B;
    border: 0;
    font-size: 16px;
    height: 26px;
    font-family: 'Segoe UI Semibold';
}
.bz-text-9::placeholder {
    color: white;
}
.open-close-user {
    position: absolute;
    right: 0;
    top: 91px;
    width: 180px;
    border: 1px solid #707070;
    padding: 10px;
    background: white;
    z-index: 111111111;
}
.open-clickable {
    display: none;
}
.open-close-user img {
    width: 30px;
}
.open-close-user .samll-icons img {
    width: 100%;
}
.bz-content-3 {
    margin-top: 20px;
}
.bz-content-3 table {
    width: 100%;
}
.bz-content-3 thead {
    padding: 0 35px;
    height: 53px;
    color: #9F6E17;
}
.bz-content-3 th {
    padding: 6px;
    text-align: center;
}
.bz-template table tr {
    border-bottom: 1px solid #707070;
}
.bz-content-3 td {
    padding: 5px 3px;
    text-align: center;
    line-height: 21px;
    font-family: 'Segoe UI Regular';
    color: #58595B;
    transition: 0.3s ease-in-out;
    font-size: 11px;
}
.bz-content-3 td:hover {
    background: transparent;
}
.bz-content-3 table input {
    border: 0;
    text-align: center;
}
.bz-content-3 table input:focus {
    border: 1px solid silver;
}
.bz-add-line td {
    color: #58595B;
    font-size: 17px;
    font-family: 'Segoe UI Bold';
    line-height: 31px;
    padding-left: 0;
    border: 1px solid #fff;
}
.bz-line-1 {
    width: 100%;
    height: 1px;
    background: #707070;
    margin-top: 10px;
}
.bz-select-1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 100%;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 12px;
    padding: 5px;
    padding-left: 10px;
}
.bz-content-4 {
    text-align: left;
    width: 100%;
}
.bz-text-10 {
    color: #9F6E17;
    font-size: 16px;
    margin-top: 43px;
    font-family: 'Segoe UI Semibold';
}
.bz-text-11 {
    color: #58595B;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
}
.bz-content-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.bz-content-5-block {
    text-align: left;
}
.bz-content-5-block input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #636364;
    font-size: 15px;
    font-family: 'Segoe UI Semibold';
    color: #636364;
    padding-left: 13px;
    margin-top: 5px;
}
.bz-back {
    position: absolute;
    top: 0;
    left: -70px;
    color: #8DC63F;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #707070;
}
.bz-back img {
    margin-right: 5px;
}
.bz-back span {
    padding-right: 6px;
}

/*333333333333333333333333333*/

.wt-template {
    max-width: 1000px;
    margin: 40px auto 100px;
    position: relative;
    margin-right: 3px;
    z-index: 111;
    border: 1px solid #58595B;
    height: 1070px;
}
.wt-header {
    position: relative;
    height: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #707070;
    padding-top: 20px;
}
.wt-text-1 {
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
    color: #2265D6;
}
.wt-text-2 {
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Segoe UI Semibold';
    color: #2265D6;
}
.wt-input-1 {
    width: 100%;
    border: 0;
    text-align: center;
    color: #58595B;
    background: transparent;
}
.wt-input-1::placeholder {
    color: #58595B;
}
.wt-input-2 {
    width: 100px;
    border: 0;
    color: #58595B;
    background: transparent;
    text-align: right;
    border-bottom: 1px solid silver;
}
.wt-input-2::placeholder {
    color: #58595B;
}
.wt-header-right {
    text-align: right;
}
.wt-body {
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 50px;
}
.wt-footer {
    height: 40px;
}
.wt-content-1 {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.wt-content-1-logo {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #707070;
    width: 400px;
    height: 110px;
    position: absolute;
}
.wt-content-1-logo input {
    display: none;
}
.wt-content-1-logo label {
    color: #58595B;
    font-size: 24px;
    font-family: 'Segoe UI Semibold';
    justify-content: center!important;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wt-content-1-logo label:hover {
    cursor: pointer;
}
.wt-text-3 {
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    font-size: 20px;
}
.wt-text-4 {
    color: #0D83DD;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    margin-top: 5px;
}
.wt-date-issue {
    height: 150px;
}
.wt-text-5 {
    color: #2265D6;
    text-align: left;
    font-size: 15px;
    font-family: 'Segoe UI Semibold';
}
.wt-text-6 {
    color: #58595B;
    font-size: 15px;
    width: 180px;
    margin-bottom: 35px;
    border: 0;
    font-family: 'Segoe UI Semibold';
    border-bottom: 1px solid #58595B;
}
.wt-due-date {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    padding: 5px;
    width: 180px;
    padding-left: 2px;
    margin-bottom: 10px;
}
.custom-input {
    display: none;
}
.wt-content-2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    position: relative;
}
.wt-content-2 input:focus {
    border: 1px solid silver;
}
.wt-content-block-1 {
    width: 50%;
}
.wt-content-block-2 {
    width: 50%;
}
.wt-text-7 {
    color: #2265D6;
    font-size: 18px;
    text-align: left;
    line-height: 34px;
    padding-left: 10px;
    font-family: 'Segoe UI Semibold';
}
.wt-text-8 {
    color: #58595B;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Segoe UI Bold';
    padding-left: 10px;
    border: 1px solid #fff;
    width: 100%;
}
.wt-text-9 {
    color: #58595B;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Segoe UI Semibold';
    padding-left: 10px;
    border: 1px solid #fff;
    width: 100%;
    text-align: left;
}
.open-close-user {
    position: absolute;
    right: 0;
    top: 91px;
    width: 180px;
    border: 1px solid #707070;
    padding: 10px;
    background: white;
    z-index: 111111111;
}
.open-clickable {
    display: none;
}
.open-close-user img {
    width: 30px;
}
.open-close-user .samll-icons img {
    width: 100%;
}
.wt-content-3 {
    margin-top: 20px;
}
.wt-content-3 table {
    width: 100%;
}
.wt-content-3 thead {
    padding: 0 35px;
    height: 53px;
    color: white;
}
.wt-content-3 th {
    padding: 6px;
    text-align: center;
    color: #2265D6;
}
.wt-content-3 thead tr {
    border-bottom: 1px solid #707070;
}
.wt-content-3 td {
    padding: 5px 3px;
    text-align: center;
    line-height: 21px;
    font-family: 'Segoe UI Regular';
    color: #58595B;
    transition: 0.3s ease-in-out;
    font-size: 11px;
}
.wt-content-3 td:hover {
    background: transparent;
}
.wt-content-3 table input {
    border: 0;
    text-align: center;
}
.wt-content-3 table input:focus {
    border: 1px solid silver;
}
.wt-add-line td {
    color: #58595B;
    font-size: 17px;
    font-family: 'Segoe UI Bold';
    line-height: 31px;
    padding-left: 0;
    border: 1px solid #fff;
}
.wt-line-1 {
    width: 100%;
    height: 1px;
    background: #707070;
    margin-top: 10px;
}
.wt-select-1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 100%;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
}
.wt-content-4 {
    text-align: left;
    width: 100%;
}
.wt-text-10 {
    color: #2265D6;
    font-size: 16px;
    margin-top: 18px;
    font-family: 'Segoe UI Semibold';
}
.wt-text-11 {
    color: #58595B;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
}
.wt-content-5 {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.wt-content-5-block {
    text-align: left;
}
.wt-content-5-block input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #636364;
    font-size: 15px;
    font-family: 'Segoe UI Semibold';
    color: #636364;
    padding-left: 13px;
    margin-top: 5px;
}
.wt-back {
    position: absolute;
    top: 0;
    left: -70px;
    color: #8DC63F;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #707070;
}
.wt-back img {
    margin-right: 5px;
}
.wt-back span {
    padding-right: 6px;
}

@media (max-width: 1700px){
    .image-upload img {
        width: 36px;
        margin-top: 12px;
        margin-bottom: -11px;
    }
    .text-6 {
        width: 170px;
        font-size: 13px;
    }
    .logotype-input {
        width: 348px;
        margin-bottom: 18px;
        height: 164px;
    }
    .invoice-back {
        left: 0;
    }
    .custom-template {
        margin-left: 250px;
    }
    .customize-colorpicker {
        margin-bottom: 23px;
    }
    .btn-save {
        font-size: 16px;
        height: 40px;
        padding: 7px;
    }
}
@media (max-width: 1400px) {
    .custom-template {
        margin-left: 470px;
    }
    /*11111111111111111111*/
    .gr-header {
        padding: 10px;
    }
    .gr-text-1 {
        font-size: 12px;
    }
    .gr-text-2 {
        font-size: 11px;
    }
    .gr-body {
        padding: 10px;
    }
    .gr-template {
        height: 729px;
    }
    .gr-content-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .gr-content-2 {
        margin-top: 3px;
    }
    .gr-content-1-logo {
        width: 160px;
        height: 95px;
    }
    .gr-text-4 {
        font-size: 11px;
    }
    .gr-text-3 {
        font-size: 11px;
    }
    .gr-text-5 {
        font-size: 10px;
    }
    .gr-due-date {
        width: 140px;
        font-size: 10px;
    }
    .gr-date-issue {
        height: 100px;
        width: 35%;
    }
    .gr-text-6 {
        font-size: 10px;
        width: 140px;
        margin-bottom: 11px;
    }
    .gr-text-9 {
        font-size: 12px;
        line-height: 18px;
    }
    .gr-text-7 {
        font-size: 13px;
        line-height: 16px;
    }
    .gr-text-8 {
        font-size: 13px;
        line-height: 16px;
    }
    .gr-content-5-block input {
        width: 81%;
        margin-top: 5px;
        height: 35px;
        font-size: 11px;
    }
    .gr-text-10 {
        font-size: 12px;
        margin-top: 13px;
    }
    .gr-text-11 {
        font-size: 11px;
    }
    .gr-content-3 tr {
        font-size: 10px;
    }
    .gr-content-3 td {
        font-size: 10px;
        padding: 0;
    }
    .gr-select-1 {
        font-size: 9px;
        padding: 3px;
        margin-top: 5px;
    }
    .gr-back {
        font-size: 15px;
    }
    .gr-back img {
        margin-right: 5px;
        width: 10px;
    }
    .gr-footer {
        height: 20px;
    }

    /*222222222222222222222222222222*/

    .bz-template {
        max-width: 500px;
        height: 729px;
    }
    .gr-body {
        padding: 10px;
    }
    .bz-header {
        padding: 0 10px;
        margin: 0;
    }
    .bz-body {
        padding: 0 20px;
    }
    .bz-text-1 {
        font-size: 12px;
    }
    .bz-text-2 {
        font-size: 11px;
    }
    .bz-content-1-logo {
        width: 160px;
        height: 67px;
        margin: 10px;
    }
    .bz-text-4 {
        font-size: 11px;
    }
    .bz-text-3 {
        font-size: 11px;
    }
    .bz-text-5 {
        font-size: 10px;
        text-align: right;
    }
    .bz-due-date {
        width: 140px;
        font-size: 10px;
    }
    .bz-date-issue {
        flex-direction: column;
        height: 100px;
        width: 100%;
    }
    .bz-text-6 {
        float: right;
        font-size: 10px;
        width: 140px;
        margin-bottom: 11px;
    }
    .bz-text-9 {
        font-size: 12px;
        line-height: 18px;
    }
    .bz-text-7 {
        font-size: 13px;
        line-height: 16px;
    }
    .bz-text-8 {
        font-size: 13px;
        line-height: 16px;
    }
    .bz-content-5-block input {
        width: 81%;
        margin-top: 5px;
        height: 35px;
        font-size: 11px;
    }
    .bz-text-10 {
        font-size: 12px;
        margin-top: 13px;
    }
    .bz-text-11 {
        font-size: 11px;
    }
    .bz-content-3 tr {
        font-size: 10px;
    }
    .bz-content-3 td {
        font-size: 10px;
        padding: 0;
    }
    .bz-select-1 {
        font-size: 9px;
        padding: 3px;
        margin-top: 5px;
    }
    .bz-back {
        font-size: 15px;
    }
    .bz-back img {
        margin-right: 5px;
        width: 10px;
    }
    .bz-footer {
        height: 20px;
    }
    .bz-content-block-2 {
        flex-direction: column;
    }
    .bz-text-12 {
        font-size: 12px;
        height: 22px;
    }

    /*333333333333333333333333*/
    .wt-template {
        max-width: 500px;
        height: 729px;
    }
    .wt-header {
        padding: 10px;
        height: 41px;
    }
    .wt-body {
        margin-top: 23px;
    }
    .wt-text-1 {
        font-size: 12px;
    }
    .wt-text-2 {
        font-size: 11px;
    }
    .wt-content-1-logo {
        width: 160px;
        height: 57px;
    }
    .wt-text-4 {
        font-size: 11px;
    }
    .wt-text-3 {
        font-size: 11px;
    }
    .wt-text-5 {
        font-size: 10px;
    }
    .wt-due-date {
        width: 140px;
        font-size: 10px;
    }
    .wt-date-issue {
        height: 100px;
        width: 35%;
    }
    .wt-text-6 {
        font-size: 10px;
        width: 140px;
        margin-bottom: 11px;
    }
    .wt-text-9 {
        font-size: 12px;
        line-height: 18px;
    }
    .wt-text-7 {
        font-size: 13px;
        line-height: 16px;
    }
    .wt-text-8 {
        font-size: 13px;
        line-height: 16px;
    }
    .wt-content-5-block input {
        width: 81%;
        margin-top: 5px;
        height: 35px;
        font-size: 11px;
    }
    .wt-text-10 {
        font-size: 12px;
        margin-top: 13px;
    }
    .wt-text-11 {
        font-size: 11px;
    }
    .wt-content-3 tr {
        font-size: 10px;
    }
    .wt-content-3 td {
        font-size: 10px;
        padding: 0;
    }
    .wt-select-1 {
        font-size: 9px;
        padding: 3px;
        margin-top: 5px;
    }
    .wt-back {
        font-size: 15px;
    }
    .wt-back img {
        margin-right: 5px;
        width: 10px;
    }
    .wt-footer {
        height: 20px;
    }
    .cover-item {
        width: 99%;
        height: 1071px;
        position: absolute;
        background: #ffffff00;
        left: 247px;
        top: 39px;
        z-index: 9999;
    }
}
@media (max-width: 1200px) {
    .cover-item {
        width: 61%;
        height: 730px;
        position: absolute;
        background: #ffffff00;
        left: 324px;
        top: 39px;
        z-index: 9999;
    }
}
@media (max-width: 992px) {
    .carusel-and-div {
        width: 100%;
    }
    .gr-template,
    .bz-template,
    .wt-template {
        margin: 0 auto 100px;
    }
    .cover-item {
        width: 86%;
        height: 727px;
        position: absolute;
        background: #ffffff00;
        left: -254px;
        top: 1px;
        z-index: 9999;
    }
    .custom-template {
        margin-left: 10px;
        margin-right: 10px;
    }
    .send-invoice-content {
        margin-right: 125px;
    }
    .carusel-and-div {
        align-items: center;
    }
    .company-logo {
        font-size: 10px;
    }
    .select-a-file {
        font-size: 11px;
    }
    .company-logo-file {
        height: 54px;
        margin: 0 auto;
        margin-bottom: 4px;
    }
    .carusel-and-div .carousel {
        height: 626px;
        width: 16%;
    }
    .text-4 {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .invoice-template input:focus {
        background: transparent !important;
    }
    .image-and-color {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: row-reverse;
        width: 100%;
    }
    .mobile-carusel-color {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .text-4 {
        display: none;
    }
    .btn-save {
        width: 260px;
    }
    .carusel-and-div .carousel {
        height: 626px;
    }
    .carusel-and-div {
        align-items: flex-start;
    }
    /*1111111111111111111111111*/
    .gr-template {
        margin-right: 10px;
    }
    .gr-content-1 {
        flex-direction: column;
    }
    .gr-date-issue {
        width: 100%;
    }
    .gr-content-1-logo {
        height: 61px;
    }
    .gr-content-2 {
        flex-direction: column;
    }
    .gr-text-9 {
        padding: 0;
        font-size: 9px;
    }
    .gr-text-8 {
        padding: 0;
        font-size: 11px;
    }
    .gr-content-block-2 {
        display: none;
    }
    .gr-content-3 table {
        display: none;
    }
    .gr-template {
        height: 550px;
        margin: 0;
    }
    .gr-content-5-block input {
        width: 92%;
        margin-top: 1px;
        height: 28px;
        font-size: 10px;
    }
    /*2222222222222222222222222222*/
    .bz-template {
        height: 550px;
        margin: 0;
    }
    .bz-content-block-2 {
        margin-top: 24px;
    }
    .bz-header-right {
        display: none;
    }
    .bz-header-left {
        width: 100%;
    }
    .bz-content-5-block input {
        width: 92%;
        margin-top: 1px;
        height: 28px;
        font-size: 10px;
    }
    .bz-body {
        padding: 10px;
    }
    .bz-text-12 {
        width: 100%;
    }
    .bz-content-5-block {
        width: 100%;
    }
    .bz-content-3 table {
        display: none;
    }
    /*333333333333333333333333333*/
    .wt-template {
        height: 550px;
        margin: 0;
    }
    .wt-content-3 table {
        display: none;
    }
    .wt-content-5-block input {
        width: 92%;
        margin-top: 1px;
        height: 28px;
        font-size: 10px;
    }
    .wt-content-1 {
        flex-direction: column;
        align-items: center;
    }
    .wt-header-right {
        text-align: center;
    }
    .wt-input-2 {
        text-align: center;
    }
    .wt-text-5 {
        text-align: center;
    }
    .wt-date-issue {
        width: 100%;
    }
    .wt-body {
        padding: 10px;
    }
    .wt-content-block-1 {
        display: none;
    }
    .wt-header-left {
        display: none;
    }
}











