.expenses-item {
    width: 300px;
    height: 100%;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #D1D1D1;
}
.expense-archive-delete {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #58595B;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 20px;
}
.expense-archive-delete:hover {
    cursor: pointer;
}
.active-expenses {
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
    color: #58595B;
    padding-left: 10px;
    width: 100%;
}
.opacity-block {
    opacity: 0.5;
}
.new-expense-content {
    margin-left: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    position: relative;
}
.new-expense-left {
    width: 38%;
    border: 1px solid #707070;
    border-bottom-left-radius: 60px;
    position: relative;
}
.new-expense-circle {
    position: absolute;
    bottom: -1px;
    right: -164px;
}
.new-expense-right {
    display: flex;
    width: 58%;
}
.new-expense-file {
    width: 183px;
    height: 183px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #58595B;
    padding: 20px;
}
.new-expense-select-text {
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
    line-height: 24px;
    color: #58595B;
    text-align: center;
    margin-top: 20px;
}
.new-expense-select-text span {
    color: #69A11B;
}
.new-expense-file input {
    display: none;
}
.new-expense-settings {
    padding-left: 40px;
    padding-right: 20px;
}
.new-expense-settings-title {
    font-size: 24px;
    font-family: 'Segoe UI Semibold';
    line-height: 32px;
    color: #58595B;
    margin-bottom: 16px;
}
.new-expense-settings-green {
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
    line-height: 21px;
    color: #69A11B !important;
}
.new-expense-label-text {
    margin-left: 10px;
    max-width: 470px;
    width: 100%;
    line-height: 21px;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
    line-height: 21px;
    color: #58595B;
}
.new-expense-settings label {
    width: 20px;
}
.new-expense-currency {
    border: 1px solid #58595B;
    opacity: 1;
    width: 260px;
    height: 40px;
    border-radius: 4px;
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 40px;
}
.next-expense-data {
    width: 100%;
    position: relative;
}
.next-expense-data-block {
    max-width: 150px;
}
.next-expense-data input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
.next-expense-data input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0.1;
}
.new-expense-selects {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.next-expense-data-title {
    margin-bottom: 15px;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
    line-height: 21px;
    color: #58595B;
}
.next-expense-data input,
.next-expense-data select {
    border: 1px solid #58595B;
    opacity: 1;
    width: 97%;
    height: 40px;
    border-radius: 4px;
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.change-placeholder-icon {
    position: absolute;
    right: 8px;
    pointer-events: none;
    bottom: 28px;
}
.new-expense-small-input {
    border: 1px solid #58595B;
    opacity: 1;
    width: 60px;
    height: 40px;
    border-radius: 4px;
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
}
.new-expense-created {
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
    line-height: 21px;
    color: #58595B;
    margin-top: 30px;
    margin-left: 20px;
}
.expense-back {
    position: absolute;
    top: 0;
    left: -70px;
    color: #8DC63F;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #707070;
}
.expense-back img {
    margin-right: 5px;
}
.expense-back span {
    padding-right: 6px;
}
.new-expense-left {
    position: relative;
}
.new-expense-add-category {
    padding: 40px;
}
.new-expense-line {
    height: 1px;
    background: #707070;
    width: 100%;
}
.new-expense-line-second {
    height: 2px;
    background: #707070;
    width: 100%;
}
.new-expense-data-line {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #58595B;
    font-size: 20px;
    font-family: 'Segoe UI Regular';
}
.new-expense-first-line {
    text-align: right;
    width: 160px;
    overflow: hidden;
}
.tax {
    opacity: 0.5;
}
.bold {
    font-family: 'Segoe UI Semibold';
}
.tax-open-close {
    width: 270px;
    padding: 15px 10px 0 10px;
    border-radius: 4px;
    border: 1px solid #58595B;
    position: absolute;
    top: 52px;
    background: white;
}
.tax-open-close img {
    position: absolute;
    top: -8px;
}
.choose-tax {
    position: relative;
}
.tax-clickable-block {
    display: none;
}
.new-expense-title {
    margin-bottom: 20px;
    color: #58595B;
    font-size: 24px;
    font-family: 'Segoe UI Bold';
    border: 0;
    width: 100%;
}
.new-expense-title:focus {
    border: 1px solid #58595B;
    border-radius: 4px;
    font-size: 18px;
    padding: 5px 10px;
}
.new-expense-description {
    color: #58595B;
    font-size: 20px;
    font-family: 'Segoe UI Regular';
    border: 0;
    margin-bottom: 80px;
    width: 100%;
}
.calendar-block {
    margin-bottom: 60px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
#myInput {
    box-sizing: border-box;
    background-image: url(searchicon.png);
    background-position: 14px 12px;
    background-repeat: no-repeat;
    border: 0;
    border-bottom: 1px solid #58595B;
    font-size: 18px;
    padding: 5px 10px;
    font-family: 'Segoe UI Regular';
    width: 100%;
}
.dropdown {
    position: relative;
    width: 100%;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 100%;
    overflow: auto;
    border: 1px solid #58595B;
    z-index: 1;
    top: -32px;
    border-radius: 4px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Segoe UI Regular';
}
.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
.search-icon {
    position: absolute;
    right: 14px;
    top: 6px;
}
.search-icon i {
    color: #58595B;
    border-left: 1px solid #58595B;
    padding-left: 6px;
}
#make-recurring {
    display: none;
}




@media (max-width: 1700px) {
    .expenses-item {
        width: 100%;
    }
    .expense-archive-delete {
        margin-bottom: 5px;
    }
}
@media (max-width: 1400px) {
    .expenses-item {
        padding: 6px;
    }
    .expenses-item h4 {
        margin-left: 6px;
        font-size: 14px;
    }
    .expenses-item .image-upload img {
        width: 56px;
        margin-bottom: 10px;
    }
    .active-expenses {
        font-size: 12px;
    }
    .expense-archive-delete img {
        width: 22px;
    }
    .new-expense-file img {
        width: 45px;
    }
    .new-expense-content {
        margin-left: 300px;
    }
}
@media (max-width: 1200px) {
    .new-expense-content {
        flex-direction: column;
    }
    .new-expense-left {
        width: 80%;
        border-bottom-left-radius: 0;
    }
    .new-expense-right {
        width: 80%;
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .new-expense-circle {
        display: none;
    }
}
@media (max-width: 992px) {
    .new-expense-left {
        width: 95%;
    }
    .new-expense-content {
        margin-left: 120px;
    }
    .new-expense-title {
        font-size: 20px;
    }
    .calendar-block {
        margin-bottom: 0;
    }
    .new-expense-description,
    .new-expense-data-line {
        font-size: 17px;
    }
    .new-expense-description {
        margin-bottom: 20px;
    }
    .new-expense-selects {
        flex-direction: column;
    }
    .change-placeholder-icon {
        right: 16px;
    }
    .new-expense-created {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .expenses-item .image-upload img {
        width: 50px;
        margin-bottom: 0;
    }
    .expense-archive-delete {
        padding: 4px;
    }
    .active-expenses {
        padding-left: 5px;
    }
    .new-expense-right {
        flex-direction: column;
        align-items: flex-start;
    }
    .new-expense-settings {
        padding-left: 0;
        padding-right: 0;
    }
    .new-expense-content {
        margin-left: 80px;
    }
}
@media (max-width: 600px) {
    .expense-archive-delete {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .expense-item-block {
        width: 80%;
    }
    .expense-archive-delete {
        padding: 18px;
    }
    .active-expenses {
        padding-left: 12px;
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .new-expense-content {
        margin-left: 6px;
    }
    .expense-back {
        top: -34px;
        left: 7px;
        font-family: 'Segoe UI Semibold';
        font-size: 14px;
    }
    .expense-back img {
        width: 11px;
    }
    .new-expense-add-category {
        padding: 15px;
    }
    .next-expense-data input,
    .next-expense-data select,
    .new-expense-currency {
        width: 87%;
    }
    .change-placeholder-icon {
        right: 58px;
    }
    .next-expense-data-block .change-placeholder-icon {
        right: 27px;
    }
    .new-expense-created {
        width: 80%;
    }
    .new-expense-label-text {
        margin-left: 0px;
        font-size: 13px;
    }
}