.send-invoice {
    position: absolute;
    z-index: 5555555;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.send-invoice-top {
    position: absolute;
    top: -22px;
    right: -1px;
}
.send-invoice-content {
    margin-right: 185px;
    margin-top: 20px;
    background: white;
    position: relative;
    width: 500px;
    border: 1px solid #969696;
}
.send-invoice-title {
    padding: 30px 20px 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
}
.send-invoice-title p {
    text-transform: uppercase;
    color: #58595B;
    font-size: 20px;
    font-family: 'Segoe UI Semibold';
}
.send-invoice-info {
    padding: 30px 20px 0 30px;
}
.send-invoice-info input {
    width: 380px;
    padding: 4px 12px;
    border: 1px solid #707070;
    color: #58595B;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
}
.send-invoice-info select {
    width: 380px;
    padding: 4px 12px;
    border: 1px solid #707070;
    color: #58595B;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
}
.send-invoice-info label {
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
    color: #58595B;
}
.send-invoice-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.send-invoice-info textarea {
    padding: 4px 12px;
    color: #AFACAC;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
    height: 141px;
    width: 380px;
    border: 1px solid #707070;
    margin-bottom: 30px;
}
.send-invoice-btns {
    border-top: 1px solid #707070;
    padding: 14px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.send-invoice-cancel-btn {
    text-transform: uppercase;
    border-radius: 32px;
    border: 1px solid #58595B;
    color: #58595B !important;
    background: transparent;
    width: 157px;
    height: 40px;
    font-size: 16px;
    font-family: 'Segoe UI Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.send-invoice-cancel-btn:hover {
    cursor: pointer;
    border: 1px solid #69A11B;
    background: #69A11B;
    color: white !important;
}
.send-invoice-send-btn {
    text-transform: uppercase;
    border-radius: 32px;
    color: white !important;
    border: 1px solid #69A11B;
    background: #69A11B;
    font-family: 'Segoe UI Regular';
    width: 157px;
    font-size: 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.send-invoice-send-btn:hover {
    cursor: pointer;
    border: 1px solid #707070;
    color: #707070 !important;
    background: transparent;
}


/*11111111111111111111111111111*/
.gr-template {
    max-width: 1000px;
    margin: 40px auto 100px;
    position: relative;
    margin-right: 150px;
    z-index: 111;
    border: 1px solid #58595B;
}
.gr-header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #69A11B;
}
.gr-text-1 {
    font-size: 22px;
    font-family: 'Segoe UI Semibold';
    color: white;
}
.gr-text-2 {
    font-size: 18px;
    margin-top: 5px;
    font-family: 'Segoe UI Semibold';
    color: white;
}
.gr-input-1 {
    width: 100%;
    border: 0;
    color: white;
    background: transparent;
}
.gr-input-1::placeholder {
    color: white;
}
.gr-input-2 {
    width: 100px;
    border: 0;
    color: white;
    background: transparent;
    text-align: right;
    border-bottom: 1px solid silver;
}
.gr-input-2::placeholder {
    color: white;
}
.gr-header-right {
    text-align: right;
}
.gr-body {
    width: 100%;
    margin: 0 auto;
    padding: 40px 60px;
}
.gr-footer {
    height: 40px;
    background: #8DC63F;
}
.gr-content-1 {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.gr-content-1-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #707070;
    width: 400px;
    height: 150px;
}
.gr-content-1-logo input {
    display: none;
}
.gr-content-1-logo label {
    color: #58595B;
    font-size: 24px;
    font-family: 'Segoe UI Semibold';
    justify-content: center!important;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.gr-content-1-logo label:hover {
    cursor: pointer;
}
.gr-text-3 {
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    font-size: 22px;
}
.gr-text-4 {
    color: #0D83DD;
    font-family: 'Segoe UI Semibold';
    font-size: 22px;
    margin-top: 5px;
}
.gr-date-issue {
    height: 150px;
}
.gr-text-5 {
    color: #8DC63F;
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
}
.gr-text-6 {
    color: #58595B;
    font-size: 17px;
    width: 180px;
    margin-bottom: 22px;
    border: 0;
    font-family: 'Segoe UI Semibold';
    border-bottom: 1px solid #58595B;
}
.gr-due-date {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    padding: 5px;
    width: 180px;
    padding-left: 2px;
    margin-bottom: 10px;
}
.custom-input {
    display: none;
}
.gr-content-2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    position: relative;
}
.gr-content-2 input:focus {
    border: 1px solid silver;
}
.gr-content-block-2 {
    text-align: left;
    width: 400px;
}
.gr-text-7 {
    color: #8DC63F;
    font-size: 18px;
    line-height: 34px;
    padding-left: 10px;
    font-family: 'Segoe UI Semibold';
}
.gr-text-8 {
    color: #58595B;
    font-size: 20px;
    font-family: 'Segoe UI Bold';
    line-height: 34px;
    padding-left: 10px;
    border: 1px solid #fff;
}
.gr-text-9 {
    color: #58595B;
    font-size: 20px;
    line-height: 38px;
    font-family: 'Segoe UI Semibold';
    padding-left: 10px;
    border: 1px solid #fff;
    width: 100%;
}
.open-close-user {
    position: absolute;
    right: 0;
    top: 91px;
    width: 180px;
    border: 1px solid #707070;
    padding: 10px;
    background: white;
    z-index: 111111111;
}
.open-clickable {
    display: none;
}
.open-close-user img {
    width: 30px;
}
.open-close-user .samll-icons img {
    width: 100%;
}
.gr-content-3 {
    margin-top: 20px;
}
.gr-content-3 table {
    width: 100%;
}
.gr-content-3 thead {
    padding: 0 35px;
    height: 53px;
    background: #8DC63F;
    color: white;
}
.gr-content-3 th {
    padding: 6px;
    text-align: center;
}
.gr-content-3 td {
    padding: 10px;
    text-align: center;
    line-height: 24px;
    font-family: 'Segoe UI Regular';
    color: #58595B;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
.gr-content-3 td:hover {
    background: transparent;
}
.gr-content-3 table input {
    border: 0;
    text-align: center;
}
.gr-content-3 table input:focus {
    border: 1px solid silver;
}
.gr-add-line td {
    color: #58595B;
    font-size: 20px;
    font-family: 'Segoe UI Bold';
    line-height: 34px;
    padding-left: 10px;
    border: 1px solid #fff;
}
.gr-line-1 {
    width: 100%;
    height: 1px;
    background: #707070;
    margin-top: 10px;
}
.gr-select-1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 100%;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
}
.gr-content-4 {
    text-align: left;
    width: 100%;
}
.gr-text-10 {
    color: #8DC63F;
    font-size: 18px;
    margin-top: 30px;
    font-family: 'Segoe UI Semibold';
}
.gr-text-11 {
    color: #58595B;
    font-size: 20px;
    font-family: 'Segoe UI Semibold';
}
.gr-content-5 {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.gr-content-5-block {
    text-align: left;
}
.gr-content-5-block input {
    width: 360px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #636364;
    font-size: 15px;
    font-family: 'Segoe UI Semibold';
    color: #636364;
    padding-left: 13px;
    margin-top: 15px;
}
.gr-back {
    position: absolute;
    top: 0;
    left: -70px;
    color: #8DC63F;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #707070;
}
.gr-back img {
    margin-right: 5px;
}
.gr-back span {
    padding-right: 6px;
}


/*22222222222222222222222222222*/


.bz-template {
    max-width: 1000px;
    margin: 40px auto 100px;
    position: relative;
    margin-right: 150px;
    z-index: 111;
    border: 1px solid #58595B;
}
.bz-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px;
}
.bz-header-left {
    background: #9F6E17;
    width: 43%;
    padding: 7px;
}
.bz-text-1 {
    font-size: 22px;
    font-family: 'Segoe UI Semibold';
    color: #9f6e17;
}
.bz-text-2 {
    font-size: 18px;
    margin-top: 5px;
    font-family: 'Segoe UI Semibold';
    color: #58595B;
}
.bz-input-1 {
    width: 100%;
    border: 0;
    color: #58595B;
    background: transparent;
}
.bz-input-1::placeholder {
    color: #58595B;
}
.bz-input-2 {
    width: 100px;
    border: 0;
    color: #58595B;
    background: transparent;
    text-align: right;
    border-bottom: 1px solid silver;
}
.bz-input-2::placeholder {
    color: #58595B;
}
.bz-header-right {
    text-align: right;
    width: 50%;
    padding-right: 10px;
}
.bz-body {
    width: 100%;
    margin: 0 auto;
    padding: 40px 60px;
}
.bz-footer {
    height: 40px;
}
.bz-content-1 {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.bz-content-1-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #707070;
    width: 400px;
    height: 150px;
    margin: 20px;
}
.bz-content-1-logo input {
    display: none;
}
.bz-content-1-logo label {
    color: #58595B;
    font-size: 24px;
    font-family: 'Segoe UI Semibold';
    justify-content: center!important;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bz-content-1-logo label:hover {
    cursor: pointer;
}
.bz-text-3 {
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    font-size: 22px;
}
.bz-text-4 {
    color: #0D83DD;
    font-family: 'Segoe UI Semibold';
    font-size: 22px;
    margin-top: 5px;
}
.bz-date-issue {
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.bz-text-5 {
    color: #9F6E17;
    font-size: 18px;
    text-align: left;
    font-family: 'Segoe UI Semibold';
}
.bz-text-6 {
    color: #58595B;
    font-size: 17px;
    width: 180px;
    margin-bottom: 22px;
    border: 0;
    font-family: 'Segoe UI Semibold';
    border-bottom: 1px solid #58595B;
}
.bz-due-date {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    padding: 5px;
    width: 180px;
    padding-left: 2px;
    margin-bottom: 10px;
}
.custom-input {
    display: none;
}
.bz-content-2 {
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.bz-content-2 input:focus {
    border: 1px solid silver;
}
.bz-content-block-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.bz-text-7 {
    color: #fff;
    font-size: 18px;
    line-height: 34px;
    padding-left: 10px;
    font-family: 'Segoe UI Semibold';
}
.bz-text-8 {
    color: #fff;
    font-size: 20px;
    font-family: 'Segoe UI Bold';
    line-height: 34px;
    background: transparent;
    padding-left: 10px;
    border: 0;
}
.bz-text-8::placeholder {
    color: white;
}
.bz-text-9 {
    color: #fff;
    font-size: 20px;
    line-height: 38px;
    font-family: 'Segoe UI Semibold';
    padding-left: 10px;
    width: 100%;
    border: 0;
    background: transparent;
}
.bz-text-12 {
    color: #58595B;
    border: 0;
    font-size: 19px;
    height: 39px;
    font-family: 'Segoe UI Semibold';
}
.bz-text-9::placeholder {
    color: white;
}
.open-close-user {
    position: absolute;
    right: 0;
    top: 91px;
    width: 180px;
    border: 1px solid #707070;
    padding: 10px;
    background: white;
    z-index: 111111111;
}
.open-clickable {
    display: none;
}
.open-close-user img {
    width: 30px;
}
.open-close-user .samll-icons img {
    width: 100%;
}
.bz-content-3 {
    margin-top: 20px;
}
.bz-content-3 table {
    width: 100%;
}
.bz-content-3 thead {
    padding: 0 35px;
    height: 53px;
    color: #9F6E17;
}
.bz-content-3 th {
    padding: 6px;
    text-align: center;
}
.bz-template table tr {
    border-bottom: 1px solid #707070;
}
.bz-content-3 td {
    padding: 10px;
    text-align: center;
    line-height: 24px;
    font-family: 'Segoe UI Regular';
    color: #58595B;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
.bz-content-3 td:hover {
    background: transparent;
}
.bz-content-3 table input {
    border: 0;
    text-align: center;
}
.bz-content-3 table input:focus {
    border: 1px solid silver;
}
.bz-add-line td {
    color: #58595B;
    font-size: 20px;
    font-family: 'Segoe UI Bold';
    line-height: 34px;
    padding-left: 10px;
    border: 1px solid #fff;
}
.bz-line-1 {
    width: 100%;
    height: 1px;
    background: #707070;
    margin-top: 10px;
}
.bz-select-1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 100%;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
}
.bz-content-4 {
    text-align: left;
    width: 100%;
}
.bz-text-10 {
    color: #9F6E17;
    font-size: 18px;
    margin-top: 30px;
    font-family: 'Segoe UI Semibold';
}
.bz-text-11 {
    color: #58595B;
    font-size: 20px;
    font-family: 'Segoe UI Semibold';
}
.bz-content-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.bz-content-5-block {
    text-align: left;
}
.bz-content-5-block input {
    width: 360px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #636364;
    font-size: 15px;
    font-family: 'Segoe UI Semibold';
    color: #636364;
    padding-left: 13px;
    margin-top: 15px;
}
.bz-back {
    position: absolute;
    top: 0;
    left: -70px;
    color: #8DC63F;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #707070;
}
.bz-back img {
    margin-right: 5px;
}
.bz-back span {
    padding-right: 6px;
}

/*333333333333333333333333333*/

.wt-template {
    max-width: 1000px;
    margin: 40px auto 100px;
    position: relative;
    margin-right: 150px;
    z-index: 111;
    border: 1px solid #58595B;
}
.wt-header {
    position: relative;
    height: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #707070;
    padding-top: 20px;
}
.wt-text-1 {
    font-size: 22px;
    font-family: 'Segoe UI Semibold';
    color: #2265D6;
}
.wt-text-2 {
    font-size: 18px;
    margin-top: 5px;
    font-family: 'Segoe UI Semibold';
    color: #2265D6;
}
.wt-input-1 {
    width: 100%;
    border: 0;
    text-align: center;
    color: #58595B;
    background: transparent;
}
.wt-input-1::placeholder {
    color: #58595B;
}
.wt-input-2 {
    width: 100px;
    border: 0;
    color: #58595B;
    background: transparent;
    text-align: right;
    border-bottom: 1px solid silver;
}
.wt-input-2::placeholder {
    color: #58595B;
}
.wt-header-right {
    text-align: right;
}
.wt-body {
    width: 100%;
    margin: 0 auto;
    padding: 40px 60px;
    margin-top: 50px;
}
.wt-footer {
    height: 40px;
}
.wt-content-1 {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.wt-content-1-logo {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #707070;
    width: 400px;
    height: 150px;
    position: absolute;
}
.wt-content-1-logo input {
    display: none;
}
.wt-content-1-logo label {
    color: #58595B;
    font-size: 24px;
    font-family: 'Segoe UI Semibold';
    justify-content: center!important;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wt-content-1-logo label:hover {
    cursor: pointer;
}
.wt-text-3 {
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    font-size: 22px;
}
.wt-text-4 {
    color: #0D83DD;
    font-family: 'Segoe UI Semibold';
    font-size: 22px;
    margin-top: 5px;
}
.wt-date-issue {
    height: 150px;
}
.wt-text-5 {
    color: #2265D6;
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
}
.wt-text-6 {
    color: #58595B;
    font-size: 17px;
    width: 180px;
    margin-bottom: 22px;
    border: 0;
    font-family: 'Segoe UI Semibold';
    border-bottom: 1px solid #58595B;
}
.wt-due-date {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    padding: 5px;
    width: 180px;
    padding-left: 2px;
    margin-bottom: 10px;
}
.custom-input {
    display: none;
}
.wt-content-2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    position: relative;
}
.wt-content-2 input:focus {
    border: 1px solid silver;
}
.wt-content-block-2 {
    text-align: left;
    width: 400px;
}
.wt-text-7 {
    color: #2265D6;
    font-size: 18px;
    line-height: 34px;
    padding-left: 10px;
    font-family: 'Segoe UI Semibold';
}
.wt-text-8 {
    color: #58595B;
    font-size: 20px;
    font-family: 'Segoe UI Bold';
    line-height: 34px;
    padding-left: 10px;
    border: 1px solid #fff;
}
.wt-text-9 {
    color: #58595B;
    font-size: 20px;
    line-height: 38px;
    font-family: 'Segoe UI Semibold';
    padding-left: 10px;
    border: 1px solid #fff;
    width: 100%;
}
.open-close-user {
    position: absolute;
    right: 0;
    top: 91px;
    width: 180px;
    border: 1px solid #707070;
    padding: 10px;
    background: white;
    z-index: 111111111;
}
.open-clickable {
    display: none;
}
.open-close-user img {
    width: 30px;
}
.open-close-user .samll-icons img {
    width: 100%;
}
.wt-content-3 {
    margin-top: 20px;
}
.wt-content-3 table {
    width: 100%;
}
.wt-content-3 thead {
    padding: 0 35px;
    height: 53px;
    color: white;
}
.wt-content-3 th {
    padding: 6px;
    text-align: center;
    color: #2265D6;
}
.wt-content-3 thead tr {
    border-bottom: 1px solid #707070;
}
.wt-content-3 td {
    padding: 10px;
    text-align: center;
    line-height: 24px;
    font-family: 'Segoe UI Regular';
    color: #58595B;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
.wt-content-3 td:hover {
    background: transparent;
}
.wt-content-3 table input {
    border: 0;
    text-align: center;
}
.wt-content-3 table input:focus {
    border: 1px solid silver;
}
.wt-add-line td {
    color: #58595B;
    font-size: 20px;
    font-family: 'Segoe UI Bold';
    line-height: 34px;
    padding-left: 10px;
    border: 1px solid #fff;
}
.wt-line-1 {
    width: 100%;
    height: 1px;
    background: #707070;
    margin-top: 10px;
}
.wt-select-1 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 100%;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
}
.wt-content-4 {
    text-align: left;
    width: 100%;
}
.wt-text-10 {
    color: #2265D6;
    font-size: 18px;
    margin-top: 30px;
    font-family: 'Segoe UI Semibold';
}
.wt-text-11 {
    color: #58595B;
    font-size: 20px;
    font-family: 'Segoe UI Semibold';
}
.wt-content-5 {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.wt-content-5-block {
    text-align: left;
}
.wt-content-5-block input {
    width: 360px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #636364;
    font-size: 15px;
    font-family: 'Segoe UI Semibold';
    color: #636364;
    padding-left: 13px;
    margin-top: 15px;
}
.wt-back {
    position: absolute;
    top: 0;
    left: -70px;
    color: #8DC63F;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #707070;
}
.wt-back img {
    margin-right: 5px;
}
.wt-back span {
    padding-right: 6px;
}
.open-send-invoice-popup {
    display: none;
}







@media (max-width: 1600px) {
    /*111111111111111111*/
    .gr-template {
        margin-right: 80px;
    }
    /*222222222222222222222222*/
    .bz-template {
        margin-right: 80px;
    }
    /*333333333333333333333333*/
    .wt-template {
        margin-right: 80px;
    }
}
@media (max-width: 1400px) {
    /*1111111111111111111*/
    .gr-template {
        max-width: 700px;
    }
    .gr-content-1-logo {
        width: 255px;
        height: 133px;
    }
    .gr-text-4 {
        font-size: 15px;
    }
    .gr-text-3 {
        font-size: 17px;
    }
    .gr-text-5 {
        font-size: 15px;
    }
    .gr-text-6 {
        font-size: 14px;
        width: 140px;
        margin-bottom: 17px;
    }
    .gr-due-date {
        width: 140px;
        font-size: 14px;
    }
    .gr-body {
        padding: 20px 10px;
    }
    .gr-content-5-block {
        width: 49%;
    }
    .gr-content-5-block input {
        width: 100%;
    }
    .gr-text-9 {
        font-size: 16px;
        line-height: 30px;
    }
    .gr-text-8 {
        font-size: 18px;
        line-height: 30px;
    }
    .gr-content-5 {
        margin-top: 0;
    }
    .gr-content-2 {
        margin-top: 20px;
    }
    .gr-content-3 td {
        padding: 10px 0;
    }
    .gr-add-line td {
        font-size: 18px;
    }
    .gr-grid-tr {
        display: grid;
        justify-content: flex-end;
        width: 330%;
    }

    /*222222222222222222222222222222*/
    .bz-template {
        max-width: 700px;
    }
    .bz-content-1-logo {
        width: 255px;
        height: 133px;
    }
    .bz-text-4 {
        font-size: 15px;
    }
    .bz-text-3 {
        font-size: 17px;
    }
    .bz-text-5 {
        font-size: 15px;
    }
    .bz-text-6 {
        font-size: 14px;
        width: 140px;
        margin-bottom: 17px;
    }
    .bz-due-date {
        width: 140px;
        font-size: 14px;
    }
    .bz-body {
        padding: 20px 10px;
    }
    .bz-content-5-block {
        width: 49%;
    }
    .bz-content-5-block input {
        width: 100%;
    }
    .bz-text-9 {
        font-size: 16px;
        line-height: 30px;
    }
    .bz-text-8 {
        font-size: 18px;
        line-height: 30px;
    }
    .bz-content-5 {
        margin-top: 0;
    }
    .bz-content-2 {
        margin-top: 20px;
    }
    .bz-content-3 td {
        padding: 10px 0;
    }
    .bz-add-line td {
        font-size: 18px;
    }
    .bz-grid-tr {
        display: grid;
        justify-content: flex-end;
        width: 330%;
    }
    .bz-text-12 {
        font-size: 16px;
        height: 32px;
    }
    /*33333333333333333333333333*/
    .wt-template {
        max-width: 700px;
    }
    .wt-content-1-logo {
        width: 255px;
        height: 133px;
    }
    .wt-text-4 {
        font-size: 15px;
    }
    .wt-text-3 {
        font-size: 17px;
    }
    .wt-text-5 {
        font-size: 15px;
    }
    .wt-text-6 {
        font-size: 14px;
        width: 140px;
        margin-bottom: 17px;
    }
    .wt-due-date {
        width: 140px;
        font-size: 14px;
    }
    .wt-body {
        padding: 20px 10px;
    }
    .wt-content-5-block {
        width: 49%;
    }
    .wt-content-5-block input {
        width: 100%;
    }
    .wt-text-9 {
        font-size: 16px;
        line-height: 30px;
    }
    .wt-text-8 {
        font-size: 18px;
        line-height: 30px;
    }
    .wt-content-5 {
        margin-top: 0;
    }
    .wt-content-2 {
        margin-top: 20px;
    }
    .wt-content-3 td {
        padding: 10px 0;
    }
    .wt-add-line td {
        font-size: 18px;
    }
    .wt-grid-tr {
        display: grid;
        justify-content: flex-end;
        width: 330%;
    }
}
@media (max-width: 1200px) {
    /*11111111111111111111*/
    .gr-template {
        max-width: 500px;
    }
    .gr-header {
        padding: 10px;
    }
    .gr-text-1 {
        font-size: 12px;
    }
    .gr-text-2 {
        font-size: 11px;
    }
    .gr-content-1-logo {
        width: 160px;
        height: 95px;
    }
    .gr-text-4 {
        font-size: 11px;
    }
    .gr-text-3 {
        font-size: 11px;
    }
    .gr-text-5 {
        font-size: 10px;
    }
    .gr-due-date {
        width: 140px;
        font-size: 10px;
    }
    .gr-date-issue {
        height: 100px;
        width: 35%;
    }
    .gr-text-6 {
        font-size: 10px;
        width: 140px;
        margin-bottom: 11px;
    }
    .gr-text-9 {
        font-size: 12px;
        line-height: 18px;
    }
    .gr-text-7 {
        font-size: 13px;
        line-height: 16px;
    }
    .gr-text-8 {
        font-size: 13px;
        line-height: 16px;
    }
    .gr-content-5-block input {
        width: 81%;
        margin-top: 5px;
        height: 35px;
        font-size: 11px;
    }
    .gr-text-10 {
        font-size: 12px;
        margin-top: 13px;
    }
    .gr-text-11 {
        font-size: 11px;
    }
    .gr-content-3 tr {
        font-size: 10px;
    }
    .gr-content-3 td {
        font-size: 10px;
        padding: 0;
    }
    .gr-select-1 {
        font-size: 9px;
        padding: 3px;
        margin-top: 5px;
    }
    .gr-back {
        font-size: 15px;
    }
    .gr-back img {
        margin-right: 5px;
        width: 10px;
    }
    .gr-footer {
        height: 20px;
    }

    /*222222222222222222222222222222*/

    .bz-template {
        max-width: 500px;
    }
    .bz-header {
        padding: 10px;
        margin: 0;
    }
    .bz-text-1 {
        font-size: 12px;
    }
    .bz-text-2 {
        font-size: 11px;
    }
    .bz-content-1-logo {
        width: 160px;
        height: 95px;
        margin: 10px;
    }
    .bz-text-4 {
        font-size: 11px;
    }
    .bz-text-3 {
        font-size: 11px;
    }
    .bz-text-5 {
        font-size: 10px;
        text-align: right;
    }
    .bz-due-date {
        width: 140px;
        font-size: 10px;
    }
    .bz-date-issue {
        flex-direction: column;
        height: 100px;
        width: 100%;
    }
    .bz-text-6 {
        float: right;
        font-size: 10px;
        width: 140px;
        margin-bottom: 11px;
    }
    .bz-text-9 {
        font-size: 12px;
        line-height: 18px;
    }
    .bz-text-7 {
        font-size: 13px;
        line-height: 16px;
    }
    .bz-text-8 {
        font-size: 13px;
        line-height: 16px;
    }
    .bz-content-5-block input {
        width: 81%;
        margin-top: 5px;
        height: 35px;
        font-size: 11px;
    }
    .bz-text-10 {
        font-size: 12px;
        margin-top: 13px;
    }
    .bz-text-11 {
        font-size: 11px;
    }
    .bz-content-3 tr {
        font-size: 10px;
    }
    .bz-content-3 td {
        font-size: 10px;
        padding: 0;
    }
    .bz-select-1 {
        font-size: 9px;
        padding: 3px;
        margin-top: 5px;
    }
    .bz-back {
        font-size: 15px;
    }
    .bz-back img {
        margin-right: 5px;
        width: 10px;
    }
    .bz-footer {
        height: 20px;
    }
    .bz-content-block-2 {
        flex-direction: column;
    }
    .bz-text-12 {
        font-size: 12px;
        height: 22px;
    }

    /*333333333333333333333333*/
    .wt-template {
        max-width: 500px;
    }
    .wt-header {
        padding: 10px;
    }
    .wt-text-1 {
        font-size: 12px;
    }
    .wt-text-2 {
        font-size: 11px;
    }
    .wt-content-1-logo {
        width: 160px;
        height: 95px;
    }
    .wt-text-4 {
        font-size: 11px;
    }
    .wt-text-3 {
        font-size: 11px;
    }
    .wt-text-5 {
        font-size: 10px;
    }
    .wt-due-date {
        width: 140px;
        font-size: 10px;
    }
    .wt-date-issue {
        height: 100px;
        width: 35%;
    }
    .wt-text-6 {
        font-size: 10px;
        width: 140px;
        margin-bottom: 11px;
    }
    .wt-text-9 {
        font-size: 12px;
        line-height: 18px;
    }
    .wt-text-7 {
        font-size: 13px;
        line-height: 16px;
    }
    .wt-text-8 {
        font-size: 13px;
        line-height: 16px;
    }
    .wt-content-5-block input {
        width: 81%;
        margin-top: 5px;
        height: 35px;
        font-size: 11px;
    }
    .wt-text-10 {
        font-size: 12px;
        margin-top: 13px;
    }
    .wt-text-11 {
        font-size: 11px;
    }
    .wt-content-3 tr {
        font-size: 10px;
    }
    .wt-content-3 td {
        font-size: 10px;
        padding: 0;
    }
    .wt-select-1 {
        font-size: 9px;
        padding: 3px;
        margin-top: 5px;
    }
    .wt-back {
        font-size: 15px;
    }
    .wt-back img {
        margin-right: 5px;
        width: 10px;
    }
    .wt-footer {
        height: 20px;
    }

}
@media (max-width: 992px) {
    .send-invoice-content {
        margin-right: 125px;
    }
}
@media (max-width: 767px) {
    /*1111111111111111111111111*/
    .gr-template {
        margin-right: 10px;
    }

    /*2222222222222222222222222222*/
    .bz-template {
        margin-right: 10px;
    }

    /*333333333333333333333333333*/
    .wt-template {
        margin-right: 10px;
    }
    .send-invoice {
        justify-content: center;
    }
    .send-invoice-top {
        display: none;
    }
    .send-invoice-content {
        margin-right: 0;
        width: 93%;
    }
}
@media (max-width: 600px) {
    .send-invoice-send-btn,
    .send-invoice-cancel-btn {
        width: 47%;
        font-size: 13px;
        height: 34px;
    }
    .send-invoice-title p {
        font-size: 16px;
    }
    .send-invoice-info input {
        width: 80%;
    }
    .send-invoice-btns {
        padding: 15px 10px;
    }
    .send-invoice-info {
        padding: 20px 10px;
    }
    /*1111111111111111111111111*/
    .gr-template {
        max-width: 300px;
        margin-right: 2px;
    }
    .gr-header {
        flex-direction: column;
    }
    .gr-input-1 {
        text-align: right;
    }
    .gr-content-1 {
        flex-direction: column;
    }
    .gr-content-2 {
        flex-direction: column;
    }
    .gr-content-block-1 {
        margin-bottom: 15px;
    }
    .gr-content-5 {
        flex-direction: column;
        align-items: flex-start;
    }
    .gr-content-3 td {
        font-size: 6px;
    }
    .gr-select-1 {
        font-size: 7px;
        padding: 1px;
    }
    .gr-grid-tr {
        width: 300%;
    }
    .gr-content-block-2 {
        width: 100%;
    }
    .gr-back {
        top: -29px;
        left: 1px;
    }

    /*2222222222222222222222222222*/

    .bz-template {
        max-width: 300px;
        margin-right: 2px;
    }
    .bz-header {
        flex-direction: column;
    }
    .bz-input-1 {
        text-align: right;
    }
    .bz-content-1 {
        flex-direction: column;
    }
    .bz-content-2 {
        flex-direction: column;
    }
    .bz-content-block-1 {
        margin-bottom: 15px;
    }
    .bz-content-5 {
        flex-direction: column;
        align-items: flex-start;
    }
    .bz-content-3 td {
        font-size: 6px;
    }
    .bz-select-1 {
        font-size: 7px;
        padding: 1px;
    }
    .bz-grid-tr {
        width: 300%;
    }
    .bz-content-block-2 {
        width: 100%;
    }
    .bz-back {
        top: -29px;
        left: 1px;
    }
    .bz-header-left {
        width: 100%;
    }
    .bz-content-5-block input {
        height: 25px;
        font-size: 10px;
    }
    .bz-text-10 {
        font-size: 10px;
        margin-top: 13px;
    }
    .bz-footer {
        display: none;
    }

    /*33333333333333333333333*/

    .wt-template {
        max-width: 300px;
        margin-right: 2px;
    }
    .wt-input-1 {
        text-align: left;
    }
    .wt-content-1 {
        flex-direction: column;
    }
    .wt-content-2 {
        flex-direction: column;
    }
    .wt-content-block-1 {
        margin-bottom: 15px;
    }
    .wt-content-5 {
        flex-direction: column;
        align-items: flex-start;
    }
    .wt-content-3 td {
        font-size: 6px;
    }
    .wt-select-1 {
        font-size: 7px;
        padding: 1px;
    }
    .wt-grid-tr {
        width: 300%;
    }
    .wt-content-block-2 {
        width: 100%;
    }
    .wt-back {
        top: -29px;
        left: 1px;
    }
    .wt-content-5-block input {
        height: 27px;
        font-size: 9px;
    }
    .wt-text-10 {
        font-size: 10px;
    }
    .wt-header {
        border: 0;
    }
    .wt-body {
        margin-top: 0;
    }
    .wt-header-right {
        text-align: left;
    }
    .wt-input-2::placeholder {
        text-align: left;
    }
    .wt-text-9, .wt-text-8, .wt-text-7 {
        padding-left: 0;
    }
}

