.invoice-item {
    width: 300px;
    height: 113px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #D1D1D1;
}
a:hover {
    text-decoration: none;
}
.invoice-item label {
    width: 100%;
    align-items: center;
}
.invoice-item h4 {
    margin-left: 20px;
    margin-top: 0;
}
.from-to  {
    margin-top: 20px;
}
.from-me {
    width: 40%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #58595B;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI Semibold';
    color: #58595B;
}
.from-me:hover {
    cursor: pointer;
}
.active-from-to {
    opacity: 0.5 !important;
}
.invoices-item-click {
    width: 222px;
    height: 190px;
    border-radius: 4px;
}
.invoices-item {
    height: 100%;
    padding: 24px;
    border-radius: 4px;
    border: 1px solid #58595B;
}
.invoices-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.invoices-item-content-p {
    font-size: 18px;
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    text-align: center;
}
.invoices-item:hover {
    cursor: pointer;
}
.invoices-disable-item {
    opacity: 0.5;
}
.btn-tables {
    width: 95px;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    color: white;
    border: 0;
    font-size: 14px;
}
.btn-paid {
    background: #8DE97F;
}
.btn-overdue {
    background: #F1646C;
}
.btn-viewed {
    background: #FAC174;
}
.btn-unpaid {
    background: #6DC9C9;
}
.btn-partial {
    background: #FFB2B2;
}
.btn-draft {
    background: #8B8D92;
}
.btn-saved {
    background: #8DC63F;
}
.btn-change {
     background: #AFACAC;
}
.btn-accepted {
    background: #ADD6FF;
}
.btn-non-accepted {
    background: #84C1FF;
}
.tbn-unbilled {
    background: #6DC9C9;
}
.btn-billed {
    background: #8DE97F;
}
.btn-non-billable {
    background: #8B8D92;
}
.invoices-first-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.signature-text {
    color: #58595B;
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
    line-height: 24px;
    max-width: 52%;
    margin-left: 41px;
}
.signature-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 14px;
}
#sig-canvas {
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
    cursor: crosshair;
}
.signature-block .checkmark {
    position: absolute;
    top: 10px;
    left: 5px;
}
.btn-submit-signature {
    border-radius: 4px;
    color: white !important;
    border: 1px solid #8DC63F;
    background: #8DC63F;
    font-family: 'Segoe UI Regular';
    width: 236px;
    font-size: 17px;
    margin-bottom: 11px;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.89px;
    transition: 0.3s ease-in-out;
}
.btn-submit-signature:hover {
    border: 1px solid #8B8D92;
    background: #8B8D92;
    cursor: pointer;
}
.btn-clear-signature {
    border-radius: 4px;
    color: white !important;
    border: 1px solid #8B8D92;
    background: #8B8D92;
    font-family: 'Segoe UI Regular';
    width: 236px;
    font-size: 17px;
    margin-bottom: 11px;
    padding: 9px;
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.89px;
    transition: 0.3s ease-in-out;
}
.btn-clear-signature:hover {
    border: 1px solid #8DC63F;
    background: #8DC63F;
    cursor: pointer;
}
.signature-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.confirm-signature {
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signature-input {
    margin-top: 40px;
    width: 458px;
    height: 63px;
    border: 1px solid #707070;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.confirm-signature .company-logo-file {
    border-radius: 4px;
    margin-bottom: 20px;
}
canvas {
    margin-bottom: 20px;
}
.signed-on {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.signed-on .text-1 {
    color: #58595B;
    font-size: 18px;
    font-family: "Segoe UI Regular";
}
.signed-on .text-2 {
    margin-left: 30px;
    border-bottom: 1px solid #58595B;
    width: 100px;
    color: #58595B;
    font-size: 18px;
    font-family: "Segoe UI Regular";
}
.signature-text-popup {
    color: #58595B;
    font-size: 15px;
    font-family: 'Segoe UI Regulars';
    line-height: 24px;
    max-width: 100%;
    margin-left: 41px;
}
.btn-confirm {
    border-radius: 32px;
    color: white !important;
    border: 1px solid #8DC63F;
    background: #8DC63F;
    text-transform: uppercase;
    font-family: 'Segoe UI Regular';
    width: 330px;
    height: 60px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.89px;
    transition: 0.3s ease-in-out;
}
.term-and-conditions {
    font-family: 'Segoe UI Regular';
    margin-bottom: 30px;
    font-size: 15px;
    color: #58595B;
}
.term-and-conditions span {
    color: #8DC63F;
    text-decoration: underline;
}


@media (max-width: 1700px) {
    .estimate-last {
        display: none;
    }
    .invoices-item-click {
        width: 17%;
        height: 160px;
    }

    .invoice-item {
        width: 100%;
        height: 88px;
    }

    .invoices-first-item {
        width: 20%;
    }

    .invoices-item-content-p {
        line-height: 20px;
        font-size: 14px;
    }

    .invoices-item img {
        width: 60px;
    }
}
@media (max-width: 1400px) {
    .from-me {
        font-size: 11px;
    }
    .invoice-item h4 {
        margin-left: 6px;
        font-size: 12px;
    }
    .invoice-item {
        padding: 6px;
    }
    .invoices-item {
        padding: 6px;
    }
    .invoices-item-content {
        justify-content: space-around;
    }
    .invoices-item img {
        width: 54px;
    }
    .btn-tables {
        width: 100px;
        padding: 0;
    }
    table td {
        font-size: 12px;
    }
    .table thead th {
        font-size: 14px;
    }
    .table thead th {
        vertical-align: baseline;
    }
}
@media (max-width: 992px) {
    .invoices .block-recently {
        justify-content: space-between;
    }
    .exp-clients-btn,
    .new-clients-btn {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .btn-confirm {
        width: 80%;
        height: 49px;
        font-size: 16px;
    }
    .clients-btns {
        padding: 10px 0;
    }
    .prints-clients-btn,
    .exp-clients-btn,
    .new-clients-btn {
        width: 190px;
    }
    .clients-btns {
        flex-direction: column;
    }
    .invoice-item label {
        flex-direction: column;
    }
    .image-upload img {
        width: 32px;
    }
    .invoice-item h4 {
        margin-top: 7px;
    }
    .invoices-item img {
        width: 46px;
    }
    .invoices-item-content-p {
        line-height: 15px;
        font-size: 12px;
    }
    .signature-content {
        flex-direction: column;
    }
    .btn-clear-signature {
        margin-left: 0;
    }
    .btn-submit-signature {
        margin-top: 10px;
        width: 100% ;
    }
    .signature-text {
        max-width: 90%;
    }
    .signature-text {
        color: #58595B;
        font-size: 13px;
        font-family: 'Segoe UI Semibold';
        line-height: 17px;
        max-width: 90%;
        margin-left: 41px;
    }
    #sig-canvas {
        display: none;
    }
    #sig-image {
        width: 100%;
    }
    .signature-input {
        width: 100%;
    }
    .confirm-signature .company-logo-file {
        width: 100%;
    }
    .confirm-signature {
        padding: 0 26px;
    }
}
@media (max-width: 600px) {
    .signed-on {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .signed-on .text-2 {
        margin-left: 0;
    }
    .paid-faster {
        font-size: 15px;
    }
    .invoices .block-recently {
        flex-direction: column;
        align-items: center;
    }
    .invoices-first-item {
        width: 80%;
    }
    .invoices-item-click {
        width: 80%;
        margin-top: 20px;
    }
    .invoices-item-content-p {
        font-size: 14px;
        line-height: 17px;
    }
    .invoices-item img {
        width: 55px;
    }
    .btn-confirm {
        width: 100%;
        height: 45px;
        font-size: 13px;
    }
    .track-hide-block {
        display: none;
    }
}
@media (max-width: 480px) {
    .clients-btns {
        width: 100%;
    }
}

