.online-payment {
    border: 0;
    margin-left: 22%;
}
.cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 170px;
}
.cards-block {
    width: 180px;
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    position: relative;
    margin-right: 42px;
}
.border-green {
    border: 1px solid #69A11B;
}
.cards-block:hover {
    cursor: pointer;
}
.check-green {
    position: absolute;
    bottom: -6px;
    right: -10px;
    display: none;
}
.check-over .check-green {
    position: absolute;
    bottom: -6px;
    right: -10px;
    display: block;
}
.card-form label {
    font-size: 18px;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    line-height: 24px;
    margin-right: 20px;
    width: 152px;
    text-align: right;
}
.card-form input {
    border: 1px solid #9F9F9F;
    border-radius: 4px;
    padding: 20px;
    font-size: 18px;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    height: 63px;
}
.enter-card {
    width: 650px;
}
.card-form .input-block {
    margin-bottom: 18px;
}
.small-img {
    display: flex;
    justify-content: flex-start;
}
.expiry-date {
    width: 236px;
}
.card-details {
    font-size: 18px;
    color: #58595B;
    font-family: 'Segoe UI Regular';
    line-height: 24px;
    margin-bottom: 20px;
}
.btns-block {
    margin-left: 178px;
}
.login-right-side-checkbox-input {
    width: 18px;
    height: 18px;
}
.login-right-side-checkbox {
    font-size: 15px;
    color: #929394 !important;
    line-height: 17px;
    font-family: 'Segoe UI Regular';
    padding-left: 6px;
    width: 100% ! important;
    text-align: left !important;
}
.login-right-side-checkbox span {
    color: #929394;
    text-decoration: underline;
}
.card-save-btn {
    margin-top: 34px;
    width: 473px;
    height: 63px;
    line-height: 27px;
    font-size: 20px;
    font-family: 'Segoe UI Regular';
    border-radius: 32px;
    text-transform: uppercase;
    background: #8DC63F;
    color: white;
    border: 0;
}
.card-save-btn:hover {
    background: white;
    border: 2px solid #8DC63F;
    color: #8DC63F;
    transition: 0.3s;
}
.payment .user-dashboard-2 {
    display: block;
}
.payment .user-dashboard-1 {
    display: none;
}







@media (max-width: 1400px) {
    .online-payment {
        border: 0;
        margin-left: 31%;
    }
}
@media (max-width: 1200px) {
    .enter-card {
        width: 420px;
    }
    .expiry-date {
        width: 420px;
    }
    .small-img {
        flex-direction: column;
    }
    .btns-block {
        margin-left: 0;
    }
    .small-img > div {
        margin-bottom: 18px;
    }
}
@media (max-width: 992px) {
    .online-payment {
        max-width: 85%;
        margin-right: 20px;
        margin-left: 12%;
    }
}
@media (max-width: 767px) {
    .online-payment {
        margin-left: 4%;
    }
    .cards-block {
        width: 130px;
        height: 100px;
    }
    .cards-png {
        width: 78%;
    }
    .cards {
        margin-bottom: 111px;
    }
}
@media (max-width: 680px) {
    .card-form .input-block {
        display: flex;
        flex-direction: column;
    }
    .card-form label {
        margin-right: 0;
        text-align: left;
    }
   .small-img > div {
       display: flex;
       flex-direction: column;
   }
    .card-save-btn {
        width: 70%;
        height: 52px;
        font-size: 18px;
    }
}
@media (max-width: 480px) {
    .enter-card, .expiry-date {
        width: 100%;
    }
    .cards-block {
        width: 130px;
        height: 55px;
    }
}