body {
    position: relative;
}
.calendar-tracking {
    margin: 50px auto 20px;
    width: 100%;
    text-align: center;
}
.today {
    font-size: 22px;
    font-family: "Segoe UI Semibold";
    color: #58595B;
    margin: 0 30px;
}
.left-right-time {
    margin-bottom: 50px;
}
.left-right-time:hover {
    cursor: pointer;
}
.table-tracking {
    width: 100%;
    max-width: 100%;
}
.table-tracking tr {
    border: 1px solid #58595B;
    border-radius: 4px;
}
.table-tracking td {
    padding: 20px;
    border-right: 1px solid #58595B;
    position: relative;
}
.time-open-block {
    position: absolute;
    border: 1px solid #58595B;
    border-bottom-left-radius: 4px;
    display: flex;
    border-bottom-right-radius: 4px;
    justify-content: center;
    width: 100%;
    height: 40px;
    align-items: center;
    left: -1px;
    top: 65px;
}
.time-open-block {
    color: #8DC63F;
    font-size: 16px;
    font-family: "Segoe UI Semibold";
    display: flex !important;
}
.tracking-block {
    display: none;
    box-sizing: content-box;
}
.time-open-block p {
    margin-left: 10px;
}
.time-active {
    opacity: 1 !important;
}
.week-days {
    color: #58595B;
    font-size: 18px;
    font-family: "Segoe UI Semibold";
}
.week-days-line {
    width: 2px;
    height: 25px;
    background: #707070;
}
.months-day {
    position: absolute;
    top: -30px;
    left: 0;
    display: none;
    color: #58595B;
    font-size: 16px;
    font-family: "Segoe UI Semibold";
}
.months-day-show {
    display: block;
}
.months-week {
    position: absolute;
    top: -30px;
    left: 0;
    display: none;
    color: #58595B;
    font-size: 16px;
    font-family: "Segoe UI Semibold";
}
.months-week-show {
    display: block;
}
.day-block {
    width: 100%;
    display: contents;
}
.week-block {
    width: 100%;
    display: none;
}
.week-days-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.7;
    position: relative;
}
.week-days-block:last-child {
    opacity: 1;
}
.track-hover {
    transition: 0.3s ease-in-out;
}
.track-hov {
    display: none;
    margin-right: -10px;
}
.track-hover:hover .track-act {
    display: none;
}
.track-hover:hover .track-hov {
    display: initial;
}
.open-new-client {
    width: 100%;
    border: 1px solid #AFACAC;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: white;
    z-index: 666;
    border-top: 0;
    padding: 20px 40px;
}
.table-timer {
    width: 100%;
}
.open-new-client-first-row input {
    color: #58595B;
    font-size: 15px;
    font-family: "Segoe UI Semibold";
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #AFACAC;
    height: 55px;
    margin-right: 20px;
    margin-top: 10px;
}
.open-new-client-first-row input::placeholder {
    color: #AFACAC;
}
.open-new-client-second-row {
    margin-top: 30px;
    display: flex;
}
.open-new-client-second-row input {
    color: #58595B;
    font-size: 15px;
    font-family: "Segoe UI Semibold";
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #AFACAC;
    height: 55px;
    width: 64%;
    margin-right: 20px;
}
.open-new-client-second-row input::placeholder {
    color: #AFACAC;
}
.open-new-client-green {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 55px;
    background: #8DC63F;
    width: 85px;
    margin-right: 20px;
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.39);
}
.open-new-client-green:hover,
.open-new-client-gray:hover {
    cursor: pointer;
}
.open-new-client-gray {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 55px;
    background: transparent;
    border: 1px solid #707070;
    width: 85px;
    margin-right: 20px;
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.39);
}
.open-new-client {
    display: none;
}
.week-table {
    width: 100%;
    max-width: 100%;
}
.week-table tr:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.week-table th,
.week-table td {
    padding: 12px;
    color: #58595B;
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
    border-bottom: 1px solid #AFACAC;
}
.week-table th {
    border-right: 1px solid #58595B;
    border-top: 1px solid #58595B;
    border-bottom: 1px solid #58595B;
    position: relative;
}
.week-table th:first-child {
    border-left: 1px solid #58595B;
}
.week-table th:hover {
    cursor: pointer;
}
.week-table td {
    border-right: 1px solid #AFACAC;
}
.week-table td:first-child {
    border-left: 1px solid #AFACAC;
}
.open-new-client-week {
    width: calc( 100% - 42px );
}
.sun-text,
.mon-text,
.tue-text,
.wed-text,
.thu-text,
.fri-text,
.sat-text {
    opacity: 0.7;
}
.week-table input {
    border: 0;
    opacity: 0.7;
    width: 100%;
    max-width: 98px;
}
.opacity-table {
    opacity: 1;
}
.week-table td {
    transition: none;
}
.week-table tr td.last {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    border:0;
}
.edit-delete-archive {
    visibility: visible !important;
}
.toggle-new-client {
    display: block;
}
.fixed-show-hide {
    display: none;
}
.fixed-tracker {
    position: fixed;
    right: 120px;
    bottom: 0;
    width: 354px;
    box-shadow: 0px 0px 14px -1px #f8f9fa;
}
.fixed-tracker-2 {
    position: fixed;
    right: 120px;
    bottom: 0;
    width: 354px;
    box-shadow: 0px 0px 14px -1px #f8f9fa;
    display: none;
}
.fixed-tracker-2 .fixed-tracker-timer {
    justify-content: space-between;
}
.fixed-tracker-2 .fixed-tracker-timer img {
    margin-right: 0;
}
.continue-up-down {
    margin-top: -48px;
}
.fixed-tracker-2 .fixed-tracker-stop-text {
    background: white;
    color: #8DC63F;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 12px 0px;
}
.fixed-tracker-2 .fixed-tracker-content-input-blocks input {
    border: 1px solid #495057;
    border-radius: 4px;
    width: 100%;
    color: #58595B;
    padding: 11px;
    font-family: "Segoe UI Regular";
}
.fixed-tracker-2 .fixed-tracker-content-input-blocks input::placeholder {
    color: #58595B;
    font-size: 16px;
    font-family: 'Segoe UI Regular';
}
.fixed-tracker-header {
    background: #375A07;
    height: 65px;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    display: flex;
    justify-content: space-between;
    padding: 11px 28px 0 28px;
}
.fixed-tracker-2 .fixed-tracker-content {
    padding: 34px 30px 34px 30px;
}
.fixed-tracker-name {
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
    color: white;
}
.fixed-tracker-up:hover {
    cursor: pointer;
}
.fixed-tracker-down:hover {
    cursor: pointer;
}
.fixed-tracker-up {
    margin-right: 5px;
}
.fixed-tracker-down {
    display: none;
    margin-right: 5px;
}
.fixed-tracker-timer {
    background: #69A11B;
    height: 100px;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 30px;
    margin-top: -15px;
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.62);
}
.fixed-tracker-timer img {
    margin-right: 30px;
}
.up-down-img:hover {
    cursor: pointer;
}
.fixed-tracker-timer-title {
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
    color: white;
}
.fixed-tracker-timer-time {
    font-size: 24px;
    font-family: 'Segoe UI Semibold';
    color: white;
}
.fixed-tracker-stop {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;
    margin-top: -5px;
    background: #69A11B;
}
.fixed-tracker-stop-img {
    margin-right: 17px;
    width: 50px;
    height: 50px;
    background: #8DC63F;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fixed-tracker-stop-text {
    width: 230px;
    height: 50px;
    background: #8DC63F;
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
    text-align: center;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fixed-tracker-stop-text:hover {
    cursor: pointer;
}
.fixed-tracker-content {
    height: 350px;
    display: flex;
    background: white;
    padding: 80px 30px 34px 30px;
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.62);
    margin-top: -28px;
}
.fixed-tracker-content-input-blocks input {
    border: 0;
    margin: 8px 0;
    color: #69A11B;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
}
.fixed-tracker-content-input-blocks input:hover {
    cursor: pointer;
}
.fixed-tracker-content-input-blocks input::placeholder {
    color: #69A11B;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
}
.billable {
    color: #58595B;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
}
.fixed-tracker-content input[type="radio"] + span::before, input[type="checkbox"] + span::before {
    content: "";
    font-size: 25px;
    width: 18px;
    height: 18px;
    margin: 0px 32px 0 0;
    line-height: 14px;
    text-align: center;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #fff;
}
.timer-close-icon {
    display: none;
    width: 30%;
    text-align: right;
    margin-top: -45px;
}
.timer-close-icon img {
    margin-right: 0;
}
.team-members {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.timeing-review {
    height: 100%;
    width: 315px;
}
.team-members-left {
    width: 20%;
}
.team-members-right {
    width: 70%;
    border: 1px solid #D1D1D1;
    padding: 23px 40px;
    border-radius: 4px;
    margin-bottom: 40px;
}
.block-timing {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.block-timing .invoices-item-click {
    margin-left: 40px;
}
.team-members-left-btn {
    border: 1px solid #58595B;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 321px;
    margin-bottom: 23px;
    color: #58595B;
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
}
.team-members-left-btn img {
    padding-right: 25px;
    padding-left: 20px;
}
.team-members-left-btn span {
    width: 34px;
    height: 34px;
    border-radius: 28px;
    border: 2px solid #58595B;
    color: #58595B;
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 20px;
}
.team-members-left-btn:before {
    content: ' ';
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #8DC63F;
    width: 9px;
    height: 100%;
}
.members-first-line {
    width: 660px;
    border-bottom: 1px solid #707070b8;
    padding-bottom: 15px;
}
.members-name {
    color: #58595B;
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
    margin-right: 150px;
}
.members-time {
    color: #69A11B;
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
    padding-left: 14px;
    border-left: 1px solid #69A11B;
}
.members-second-line {
    margin-top: 34px;
}
.team-members-right .progress {
    border-radius: 50px;
    margin-bottom: 35px;
}
.members-progress-bar-1 {
    background: #BDD898;
    width: 65%;
    border-radius: 50px;
}
.members-progress-bar-2 {
    background: #D193CD;
    width: 45%;
    border-radius: 50px;
}
.members-progress-bar-3 {
    background: #757FBF;
    width: 15%;
    border-radius: 50px;
}
.members-progress-bar-4 {
    background: #93D1B0;
    background: #93D1B0;
    width: 30%;
    border-radius: 50px;
}
.team-members-opacity {
    opacity: 0.5;
}
.team-members-left-btn:hover {
    cursor: pointer;
}
.del-after.team-members-left-btn:before {
    content: none;
}
.team-members-right-2 {
    display: none;
}


@media (max-width: 1700px) {
    .invoices-first-item {
         width: auto;
    }
}
@media (max-width: 1600px) {
    .table-tracking td {
        padding: 12px;
    }
    .week-days {
        font-size: 15px;
    }
    .week-table th, .week-table td {
        font-size: 15px;
        padding: 6px;
    }
    .time-open-block {
        top: 49px;
    }
    .open-new-client-first-row input,
    .open-new-client-second-row input,
    .open-new-client-green,
    .open-new-client-gray {
     height: 46px;
    }
    .open-new-client-week {
        width: calc( 100% - 30px );
    }
    .team-members-right {
        width: 60%;
    }
    .members-first-line {
        width: 80%;
    }
    .team-members-left {
        width: 35%;
    }
    .team-members-left-btn {
        width: 100%;
    }
}
@media (max-width: 1400px) {
    .block-timing .invoice-item h4 {
        margin-left: 19px;
    }
    .members-name {
        margin-right: 95px;
    }
}
@media (max-width: 1200px) {
    .week-days-block {
         flex-direction: column;
    }
    .week-days-line {
        transform: rotate(90deg);
    }
    .table-tracking td {
         padding: 4px;
    }
    .time-open-block {
        top: 81px;
        flex-direction: column;
        height: 60px;
    }
    .time-open-block p {
         margin-left: 0;
    }
    .months-day {
        font-size: 13px;
        width: 100px;
        height: 25px;
    }
    .today {
        font-size: 20px;
    }
    .table-timer-week {
        overflow-x: auto;
        padding-top: 25px;
        max-width: 1000px;
        min-height: 222px;
        width: 100%;
        padding-bottom: 25px;
    }
    .time-open-block {
      font-size: 14px;
    }
}
@media (max-width: 992px) {
    .team-members {
        flex-direction: column;
        align-items: center;
    }
    .team-members-left {
        width: 60%;
    }
}
@media (max-width: 767px) {
    .block-timing .invoice-item h4 {
     margin-left: 0;
    }
    .block-timing .invoices-first-item {
         width: 25%;
    }
    .block-timing .invoices-item-click {
        width: 25%;
    }
    .timeing-review {
         width: 100%;
    }
    .week-table th, .week-table td {
         font-size: 12px;
     }
    .calendar-tracking {
        margin-bottom: 0;
    }
    .months-week {
        font-size: 12px;
    }
    .time-traking .image-upload img {
        width: 36px;
    }
    .table-timer {
        overflow-x: auto;
        padding-top: 25px;
        max-width: 700px;
        height: 222px;
    }
    .table-tracking td {
         padding: 0 15px;
    }
    .time-open-block {
        top: 73px;
        font-size: 10px;
    }
    .week-days {
        text-align: center;
    }
    .open-new-client {
         border: none;
         padding: 20px 0;
    }
    .open-new-client img {
         width: 14px;
    }
    .months-day {
         font-size: 9px;
    }
    .today {
        margin: 0 10px;
    }
    .left-right-time img {
        width: 10px;
    }
    .checkmark {
        position: absolute;
        top: -6px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #707070;
    }
    .team-members-right {
        width: 100%;
    }
    .team-members-left {
        width: 100%;
    }
}
@media (max-width: 622px) {
    .time-open-block {
        top: 97px;
    }
    .open-new-client-first-row,
    .open-new-client-second-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .open-new-client-first-row input {
        margin-right: 0;
        width: 80%;
    }
    .open-new-client-green,
    .open-new-client-gray {
        margin-top: 10px;
        margin-right:0;
    }
    .open-new-client-second-row input {
        width: 80%;
        margin-right: 0;
    }
    .months-week {
         font-size: 10px;
    }
}
@media (max-width: 600px) {
    .block-timing .invoices-item-click {
        margin-top: 0;
    }
    .block-timing {
        flex-direction: column;
        align-items: center;
    }
    .block-timing .invoices-item-click {
        margin-left: 0;
        width: 80%;
        margin-top: 20px;
    }
    .block-timing .invoices-first-item {
        width: 80%;
    }
}
@media (max-width: 480px) {
    .months-week {
        font-size: 10px;
    }
    .team-members-left-btn {
        font-size: 14px;
    }
    .team-members-right {
        padding: 23px 15px;
    }
    .members-name {
        margin-right: 15px;
    }
    .fixed-tracker {
        right: 20px;
        width: 270px;
    }
    .fixed-tracker-2 {
        right: 20px;
        width: 270px;
    }
    .fixed-tracker-timer-time {
         font-size: 19px;
    }
    .fixed-tracker-stop {
         padding: 24px 10px;
    }
    .fixed-tracker-timer {
         padding: 24px 10px;
    }
    .fixed-tracker-stop-text {
        width: 196px;
    }
    .fixed-tracker-stop-text {
        font-size: 12px;
    }
    .fixed-tracker-stop-img img {
        width: 14px;
    }
    .fixed-tracker-timer img {
        width: 40px;
    }
    .fixed-tracker-stop-img {
         margin-right: 3px;
     }
    .timer-close-icon img {
         width: 15px;
    }
    .timer-close-icon {
        width: 25%;
    }
    .continue-up-down img {
        width: 15px;
    }
    .timer-close-icon {
        margin-top: -33px;
    }
}

