html, body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button:hover,
button:focus,
select:focus {
    outline: none;
    cursor: pointer;
}
input, button, select {
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    list-style-type: none;
}
body {
}
aside {
    width: 280px;
    height: 100vh;
    background-color: #58595B;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    transition: padding-left 0.3s ease 0s;
}
main {
    height: 100vh;
    background: #fff;
    width: 100%;
}
.user-data {
    padding: 12px;
    background: #9B9B9B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user-data-img {
    width: 60px;
}
.user-dashboard .settings-block-item {
    background: #9B9B9B;
}
.user-dashboard-1 .settings-block-item:hover,
.user-dashboard-1 .active {
    background: #58595B !important;
}
.user-dashboard-2 .active {
    background: #9B9B9B;
}
.user-dashboard-1-open-close {
    transition: 0.3s ease-in-out;
    display: block !important;
}
.user-dashboard-2-open-close {
    transition: 0.3s ease-in-out;
    display: none !important;
}
.user-dashboard-1 {
    background: #9B9B9B;
    padding-top: 10px;
    display: none;
}
.open-close-menu {
    overflow-y: auto;
    height: calc(100vh - 210px);
}
.transform-rotate {
    transform: rotate(180deg);
}
.user-dashboard-2 {
    padding-top: 10px;
    background: #58595b;
}
.user-dashboard-1 .settings-block-item {
    width: 100%;
    padding: 8px 10px 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #9B9B9B;
}
.user-data-title {
    color: white;
    margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Segoe UI Regular';
}
.settings-block-title {
    padding: 10px;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Segoe UI Regular';
    color: white;
    background: #58595b;
}
.settings-block-item {
    width: 100%;
    padding: 8px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #58595B;
}
.settings-block-item-text {
    color: white;
    font-size: 22px;
    line-height: 21px;
    font-family: 'Segoe UI Regular';
}
.back-color-settings {
    background: #58595b;
}
.settings-block-item-img {
    width: 20%;
}
.settings-block-item-block {
    text-align: left;
    width: 91%;
}
.green-line {
    width: 86%;
    background: #8DC63F;
    margin: 0 auto;
    border-bottom: 2px solid #8DC63F;
}
.settings-block-item:hover {
    background: #9B9B9B;
    cursor: pointer;
    text-decoration: none;
}
.open-close-arrow {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}
.open-close-arrow:hover {
    cursor: pointer;
}
.aside-logo {
    padding: 12px;
    background: #9B9B9B;
}
.dashboard-header {
    background: #F8F8F8;
    min-height: 88px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.dashboard-header-title {
    font-size: 24px;
    font-family: 'Segoe UI Semibold';
    padding-left: 360px;
}
.circle-user {
    width: 138px;
    height: 138px;
    padding: 55px;
    margin-bottom: 50px;
    margin-left: 150px;
    border: 1px solid #707070;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-form {
    color: #58595B;
}
.dashboard-form label {
    font-size: 18px;
    width: 150px;
    margin-right: 20px;
    text-align: right;
    font-family: 'Segoe UI Regular';
}
.dashboard-form input {
    width: 450px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 14px;
    color: #58595B;
}
.change-pas {
    font-size: 15px;
    padding-left: 190px;
    margin-top: 5px;
    font-family: 'Segoe UI Regular';
}
.dashboard-save {
    text-transform: uppercase;
    border-radius: 32px;
    color: white !important;
    border: 1px solid #8DC63F;
    background: #8DC63F;
    margin-left: 20px;
    width: 450px;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.89px;
    transition: 0.3s ease-in-out;
}
.dashboard-save:hover {
    cursor: pointer;
    background: white;
    color: #8DC63F!important;
    border: 1px solid #8DC63F;
}
.dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    justify-content: flex-start;
    padding-top: 80px;
    padding-left: 480px;
}
.dashboard-form-block {
    margin-bottom: 20px;
}
.dashboard-form-block img {
    right: 10px;
    top: 7px;
}
.save-block {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}
.dashboard-form-mobile {
    display: none;
}
.dashboard-form-mobile i {
    font-size: 24px;
    padding-right: 22px;
    color:#6c757d;
}
.dashboard-form-mobile i:hover {
    cursor: pointer;
}
.back-color-aside {
    height: 100%;
    background: #9B9B9B;
}
.show-hide-aside {
    display: flex;
    position: fixed;
    z-index: 1111;
    transition: padding-left 0.3s ease 0s;
}
#style-1::-webkit-scrollbar-track,
#style-2::-webkit-scrollbar-track {
    background-color: #9B9B9B;
    border-radius: 10px;
}
#style-1::-webkit-scrollbar,
#style-2::-webkit-scrollbar {
    border-radius: 10px;
    width: 12px;
    background-color: #9B9B9B;
}

#style-1::-webkit-scrollbar-thumb,
#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #9B9B9B;
}
.pagination {
    display: inline-block;
}
.pagination a {
    color: #58595B;
    float: left;
    padding: 8px 16px;
    font-size: 16px;
    font-family: 'Segoe UI Regular';
    text-decoration: none;
}
.pagination a.active {
    border: 1px solid #58595B;
    font-family: 'Segoe UI Bold';
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.bank-dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    justify-content: flex-start;
    padding-top: 70px;
    padding-left: 370px;
    padding-bottom: 40px;
    max-width: 2000px;
}
.choose-your-bank {
    color: #58595B;
    margin-bottom: 22px;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
}
.bank-item {
    width: 250px;
    height: 170px;
    border: 1px solid #D1D1D1;
    margin-right: 30px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.bank-item:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.bank-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.bank-item-name {
    margin-top: 20px;
    color: #58595B;
    font-size: 16px;
    font-family: 'Segoe UI Semibold';
}
.find-your-bank {
    color: #58595B;
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
    margin-top: 10px;
}
.find-your-bank a {
    color: #0D83DD !important;
}
.find-your-bank a:hover {
    cursor: pointer;
}
.green-close {
    color: #8DC63F;
    opacity: 1;
    font-size: 35px;
}
.modal-header {
    border-bottom: 0;
}
button.close {
    color: #8DC63F;
    opacity: 1;
}
.connect-bank {
    text-align: center;
    line-height: 32px;
    margin: 0 auto;
    color: #58595B;
    margin-bottom: 70px;
    font-size: 24px;
    font-family: "Segoe UI Semibold";
}
.btn-continue {
    width: 250px;
    height: 63px;
    background: #8DC63F;
    text-transform: uppercase;
    font-family: "Segoe UI Regular";
    font-size: 20px;
    color:white;
    border-radius: 32px;
    margin-bottom: 45px;
    margin-top: 41px;
}
.modal-dialog {
    max-width: 750px;
}
.not-robot-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.not-robot-content img {
    width: 49%;
}
.modal-header-connect-bank {
    background: #8DC63F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
}
.bank-title {
    color: white;
    font-size: 24px;
    margin-left: 34%;
    font-family: "Segoe UI Semibold";
}
.white-close {
    color: #fff;
    opacity: 1;
    font-size: 35px;
}
button.close-bank {
    color: #fff;
    opacity: 1;
    margin-right: 30px;
    margin-top: -7px;
}
.connect-bank-modal {
    text-align: center;
    line-height: 32px;
    margin: 50px auto;
    color: #58595B;
    font-size: 24px;
    font-family: "Segoe UI Semibold";
}
.dashboard-form {
    color: #58595B;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}
.bank-password-icon {
    right: 10px;
    top: 13px;
}
.create-username {
    color: #58595B;
    font-size: 15px;
    font-family: "Segoe UI Semibold";
}
.create-username span {
    color: #0D83DD;
}
.dashboard-form-block img {
    right: 10px;
    top: 13px;
}
.bank-password-icon {
    right: 10px;
    top: 19px;
}
.customize-multiple {
    font-size: 20px;
    color: #58595B;
    max-width: 430px;
    margin: 20px auto;
    font-family: "Segoe UI Semibold";
    text-align: center;
}
.gets-free-business {
    color: #69A11B;
    font-size: 18px;
    font-family: "Segoe UI Semibold";
    margin: 20px auto;
    text-align: center;
}
.create-new-bus {
    margin-top: 70px;
}
.second-user {
    right: 10px;
    top: 12px;
    display: none;
}
.second-user:hover {
    cursor: pointer;
}
.open-close-user-add {
    position: absolute;
    left: 298px;
    top: 30px;
    width: 225px;
    border: 1px solid #707070;
    padding: 10px 28px 30px 28px;
    background: white;
    z-index: 111111111;
    display: none;
}
.open-close-user-add div {
    margin-top: 10px;
}
.samll-icons {
    position: absolute;
    top: -6px;
    left: -16px;
}
.open-close-user-add span {
    font-size: 18px;
    font-family: 'Segoe UI Regular';
    color: #AFACAC;
    margin-left: 20px;
}


@media (max-width: 1600px) {
    .open-close-user-add {
        left: 234px;
    }
    aside {
        width: 220px;
    }
    .settings-block-item-text {
        font-size: 17px;
    }
    .bank-item {
        width: 170px;
        height: 150px;
    }
    .add-new-bussiness-modal .modal-dialog {
        max-width: 600px;
    }
}
@media (max-width: 1200px) {
    .add-new-bussiness-modal .modal-dialog {
        max-width: 500px;
    }
    .customize-multiple {
        font-size: 17px;
    }
    .dashboard-content {
        align-items: center;
        padding-left: 200px;
    }
    .settings-block-item-text {
        padding-left: 0;
    }
    .settings-block-item {
        padding: 4px;
    }
}
@media (max-width: 992px) {
    .bank-title {
        margin-left: 30px;
    }
    .bank-connections.dashboard-form input {
        width: 100%;
    }
    .bank-connections .dashboard-form-block {
        width: 80%;
    }
    .not-robot-content img {
        width: 60%;
    }
    .modal-dialog {
        max-width: 400px;
        margin: 0 auto;
    }
    .btn-continue {
        width: 64%;
        height: 44px;
        font-size: 17px;
    }
    .green-close {
        font-size: 23px;
    }
    .connect-bank {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 36px;
    }
    .bank-dashboard-content {
        padding-left: 20px;
    }
    .bank-item {
        margin-right: 20px;
    }
    .dashboard-header-title {
        padding-left: 100px;
    }
    .dashboard-content {
        padding-left: 0;
    }
    .dashboard-form-mobile {
        display: block;
    }
    aside {
        display: none;
    }
    .circle-user {
        margin-left: 0;
    }
    .settings-block-item {
        padding: 4px;
    }
    .aside-logo img {
        width: 70px;
    }
    .user-data-img {
        width: 40px;
    }
    .settings-block-item-text {
        font-size: 17px;
    }
    .open-close-menu {
        height: calc(100vh - 183px);
    }
}
@media (max-width: 767px) {
    .add-new-bussiness-modal .address-select img {
        right: 15px;
        top: 21px;
    }
    .add-new-bussiness-modal .bank-title {
        color: white;
        font-size: 20px;
    }
    .add-new-bussiness-modal .modal-dialog {
        max-width: 92%;
    }
    .add-new-bussiness-modal .connect-bank-modal img {
        width: 100px;
    }
    .customize-multiple {
       max-width: 92%;
    }
    .gets-free-business {
        margin: 0;
    }
    .bank-password-icon {
        right: 10px;
        top: 14px !important;
    }
    .dashboard-save {
        width: 100%;
        margin-left: 0;
    }
    .dashboard-form input {
        width: 100%;
    }
    .dashboard-form label {
        margin-right: 0;
        text-align: left;
    }
    .change-pas {
        padding-left: 0;
    }
    .dashboard-form-block img {
        right: 10px;
        top: 43px;
    }
    .circle-user {
        width: 100px;
        height: 100px;
    }
    .circle-user img {
        width: 70px;
    }
    .dashboard-content {
        padding-top: 100px;
    }
    .dashboard-form {
        width: 90%;
        margin: 0 auto;
    }
    .dashboard-header-title {
        padding-left: 8%;
        font-size: 19px;
    }
    .user-dashboard-2 {
        height: 56vh;
    }
    .find-your-bank {
        font-size: 13px;
    }
}
@media (max-width: 480px) {
    .open-close-user-add {
        width: 184px;
        padding: 11px;
        left: 21px;
        top: 49px;
        border-radius: 8px;
    }
    .open-close-user-add div {
        display: none;
        margin-top: 4px;
    }
    .open-close-user-add span {
        font-size: 15px;
        margin-left: 10px;
    }
    .bank-title {
        margin-left: 15px;
    }
    button.close-bank {
        margin-right: 30px;
    }

    .pagination a {
        padding: 5px 9px;
    }
    .dashboard-form-mobile i {
        padding-right: 0px;
    }
    .dashboard-header {
        align-items: flex-end;
        flex-direction: column-reverse;
        padding: 10px 20px;
    }
    .dashboard-header-title {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .my-profile-dashboard-header {
        align-items: center;
    }
    .bank-dashboard-content {
        align-items: center;
    }
    .bank-items {
        justify-content: center;
    }
    .bank-item {
        margin-right: 0;
    }
    .bank-item {
        width: 85%;
    }
    .find-your-bank {
        font-size: 9px;
    }
    .modal-dialog {
        max-width: 300px;
    }
    .connect-bank {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 33px;
    }
    .not-robot-content img {
        width: 90%;
    }
    .connect-bank {
        font-size: 15px;
        line-height: 0;
    }
    .customize-multiple {
        font-size: 14px;
    }
    .gets-free-business {
        font-size: 13px;
    }
}
