html, body, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
input, button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}
button:hover,  button:focus {
    outline: none;
    cursor: pointer;
}
a {
    text-decoration: none;
}

.login {
    padding: 54px 239px;
}
.login-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -1px -1px 30px -8px rgba(0,0,0,0.30);
    height: 817px;
    max-width: 1482px;
    margin: 0 auto;
}
.login-left-side {
    width: 40%;
    padding: 42px;
    height: 817px;
    background: #8DC63F;
}
.login-right-side {
    width: 60%;
    height: 817px;
    display: flex;
    justify-content: center;
}
.login-left-side h1 {
    margin: 186px 0px 90px 0px;
    font-size: 45px;
    line-height: 60px;
    font-family: 'Segoe UI Bold';
    color: white;
    text-align: center;
}
.login-left-side h6 {
    font-size: 20px;
    line-height: 27px;
    font-family: 'Segoe UI Bold';
    color: white;
    text-align: center;
}
.login-left-side-signup {
    font-family: 'Segoe UI Bold';
    border-radius: 32px;
    border: 2px solid white;
    text-transform: uppercase;
    background: transparent;
    color: white;
    margin: 45px 0;
    width: 100%;
    height: 63px;
    line-height: 25px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.login-left-side-signin {
    margin-top: 34px;
    width: 473px;
    height: 63px;
    line-height: 27px;
    font-size: 20px;
    font-family: 'Segoe UI Regular';
    border-radius: 32px;
    text-transform: uppercase;
    background: #8DC63F;
    color: white;
}
.login-left-side-signup:hover {
    border: 2px solid white;
    color: white;
    transition: 0.3s;
    background: #5c941082;
    text-decoration: none;
}
.login-left-side-signin:hover {
    background: white;
    border: 2px solid #8DC63F;
    color: #8DC63F;
    transition: 0.3s;
}
.login-right-side-man {
    width: 63px;
    height: 63px;
    background: #8DC63F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-right-side h4 {
    margin: 20px 0;
    font-size: 27px;
    line-height: 36px;
    color: black;
    font-family: 'Segoe UI Regular';
    text-transform: uppercase;
}
.login-right-side-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.login-right-side-email,
.login-right-side-password {
    margin-bottom: 20px;
    width: 474px;
    height: 63px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid silver;
    font-family: 'Segoe UI Regular';
    font-size: 18px;
    color: #58595B;
    padding-left: 16px;
}
.login-right-side-password {
    position: relative;
}
.login-right-side-password-icon {
    position: absolute;
    right: 20px;
    top: 17px;
}
.login-right-side-checkbox {
    font-size: 16px;
    color: #58595B;
    line-height: 17px;
    font-family: 'Segoe UI Regular';
    padding-left: 6px;
}
.login-right-side-checkbox-input {
    width: 18px;
    height: 18px;
}
.login-right-side-block {
    display: flex;
    justify-content: space-between;
}
.login-right-side-forgot-pass a {
    font-size: 15px;
    line-height: 17px;
    color: #8DC63F;
    font-family: 'Segoe UI Regular';
}
.login-right-side-checkbox span {
    color: #8DC63F;
    text-decoration: underline;
}
.forgot-password-text {
    font-size: 18px;
    font-family: 'Segoe UI Regular';
    color: #58595B;
    line-height: 24px;
    margin-bottom: 30px;
    max-width: 330px;
    margin-top: 20px;
}
.forgot {
    padding: 70px 239px;
}
.forgot form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.reset, .register {
    padding: 54px 239px;
}
.reset form,
.register form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.reset-pass-must-characters {
    margin-bottom: 10px;
    margin-top: -13px;
    margin-left: 16px;
    font-size: 18px;
    color: #58595B;
    margin-bottom: 10px;
    font-family: 'Segoe UI Regular';
}
.register .login-content {
    flex-direction: row-reverse;
}
.register .login-right-side h4 {
    width: 100%;
    text-align: right;
}
.register .login-right-side-content {
    align-items: flex-end;
}
.login-left-side-cancel {
    margin-top: 34px;
    width: 210px;
    height: 63px;
    line-height: 27px;
    font-size: 20px;
    font-family: 'Segoe UI Regular';
    border-radius: 32px;
    text-transform: uppercase;
    background: white;
    border: 2px solid #8DC63F;
    color: #8DC63F;
}
.login-left-side-cancel:hover {
    background: #8DC63F;
    color: white;
    transition: 0.3s;
}
.login-left-side-reset {
    margin-top: 34px;
    width: 210px;
    height: 63px;
    line-height: 27px;
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI Regular';
    border-radius: 32px;
    text-transform: uppercase;
    background: #8DC63F;
    color: white;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-left-side-reset:hover {
    border: 2px solid  #8DC63F;
    background: white;
    color: #8DC63F;
    transition: 0.3s;
    text-decoration: none;
}
.registration-1-left-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.registration-1-left-content-title {
    font-family: "Segoe UI Regular";
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 50px;
    line-height: 32px;
    max-width: 295px;
}
.registration-1-left-content-logo {
    margin-top: -128px;
    text-align: center;
}
.registration-1-left-content-logo img {
    width: 158px;
}
.registrations-pages {
    position: absolute;
    right: -44px;
    bottom: 32px;
    width: 47px;
    height: 127px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.registrations-pages a {
    width: 11px;
    height: 11px;
    border: 1px solid #8DC63F;
    border-radius: 50%;
    display: block;
}
.registrations-pages a:hover {
    cursor: pointer;
}
.active-pages {
    background:  #8DC63F;
}
.registration-1-right-content-title {
    font-family: "Segoe UI Regular";
    font-size: 20px;
    color: #58595B;
    text-align: center;
    line-height: 27px;
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.full-company-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.full-company-inputs input {
    width: 48%;
}
.registration-1-right-content-blocks {
    width: 100%;
    display: flex;
    border-radius: 4px;
    border: 1px solid silver;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    background-color: white
}
.registration-1-info .login-left-side {
    width: 30%;
}
.registration-1-info .login-right-side {
    width: 70%;
}
.registration-1-right-content-blocks input  {
    margin-top: 16px;
}
.registration-1-info .login-left-side-signin {
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration-1-info .login-left-side-signin:hover {
    text-decoration: none;
}
.registration-2-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 135px;
}
.industry-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.industry-block img {
    transition: 0.3s ease-in-out;
}
.hide-img-industry {
    display: none;
}
.show-img-industry:hover,
.hide-img-industry:hover {
    cursor: pointer;
}
.industry-block img:hover {
    cursor: pointer;
}
.industry-block-text {
    font-size: 16px;
    font-family: "Segoe UI Regular";
    color: #58595B;
    text-align: center;
    max-width: 115px;
    margin: 15px auto;
}
.image-upload-industry input {
    display: none;
}
.streamline-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
    margin-bottom: 150px;
}
.streamline-div {
    width: 270px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-family: "Segoe UI Regular";
    color: #58595B;
    border: 1px solid #58595B;
    border-radius: 4px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.streamline-div:hover {
    cursor: pointer;
}
.streamline-div:last-child {
    opacity: 0.5;
}
.add-background-color {
    background: #f3f3f3;
}
.streamline-services input {
    display: none;
}
.business-unique {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.describe-your-business {
    color: #8DC63F;
    font-size: 16px;
    font-family: "Segoe UI Regular";
    text-transform: uppercase;
    margin-bottom: 30px;
}
.business-unique-left > div,
.business-unique-right > div {
    margin-bottom: 30px;
}
.describe-yes-no {
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-transform: uppercase;
    margin-bottom: 60px !important;
}
.business-unique .login-right-side-checkbox {
    line-height: 21px;
}
.registration-1-info form {
    align-items: center;
    width: 100%;
}
.registration-4-info {
    width: 100%;
    align-items: center;
}
.registration-4-info-content {
    width: 100%;
}
.registration-5-info {
    width: 800px;
    height: 693px;
    box-shadow: -1px -1px 30px -8px rgba(0,0,0,0.30);
    background: #8DC63F;
    padding: 75px;
}
.registration-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.registration-5-title {
    color: #fff;
    font-size: 50px;
    font-family: "Segoe UI Regular";
    text-align: center;
    margin-top: 120px;
}
.registration-5-btn {
    font-family: 'Segoe UI Bold';
    border-radius: 32px;
    border: 2px solid white;
    text-transform: uppercase;
    color: #8DC63F !important;
    width: 470px;
    background: white;
    height: 63px;
    line-height: 25px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    transition: 0.3s ease-in-out;
}
.registration-5-btn:hover {
    border: 2px solid #fff;
    background: transparent;
    cursor: pointer;
    color: #fff!important;
}





@media (max-width: 1600px) {
    .login {
        padding: 60px 60px 0 60px;
    }
    .forgot {
        padding: 60px 60px 0 60px;
    }
    .reset {
        padding: 60px 60px 0 60px;
    }
    .register {
        padding: 60px 60px 0 60px;
    }
}
@media (max-width: 1200px) {
    .streamline-div {
        width: 180px;
    }
    .streamline-services {
        padding: 0;
    }
    .reset-pass-must-characters {
        font-size: 14px;
    }
    .login-right-side-email,
    .login-right-side-password {
        margin-bottom: 20px;
        width: 100%;
    }
    .login-right-side-password-icon {
        right: 22px;
    }
    .login-left-side-signin {
        margin-top: 34px;
        width: 100%;
    }
    .login-right-side form {
        width: 400px;
    }
    .login-left-side h1 {
        font-size: 42px;
    }
    .login-left-side {
        width: 40%;
        padding: 30px;
    }
    .login-right-side {
        width: 60%
    }
    .login-left-side-signup {
        width: 80%;
        margin: 43px auto;
    }
    .login-left-side h1 {
        margin: 184px 0px 103px 0px;
    }
    .registration-2-content {
        padding: 0;
    }
    .industry-block img {
        width: 100px;
    }
    .industry-block-text {
        font-size: 14px;
    }
    .business-unique {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .business-unique-left > div,
    .business-unique-right > div {
        margin-bottom: 2px;
    }
    .describe-your-business {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
@media (max-width: 992px) {
    .registration-5-info {
        width: 85%;
        height: 600px;
    }
    .registration-5-title {
        font-size: 35px;
        margin-top: 70px;
    }
    .registration-5-btn {
        width: 80%;
        margin-top: 70px;
    }
    .forgot {
        padding: 60px 20px;
    }
    .login-left-side h1 {
        font-size: 34px;
    }
    .login {
        padding: 60px 20px;
    }
    .reset {
        padding: 60px 20px;
    }
    .register {
        padding: 60px 20px;
    }
}
@media (max-width: 767px) {
    .registration-5-btn {
        width: 100%;
    }
    .registration-5-info {
        padding: 40px;
        height: 450px;
    }
    .logo-registration-5 img {
        width: 100px;
    }
    .registration-5-title {
        font-size: 28px;
    }
    .registration-5-btn {
        font-size: 15px;
        height: 55px;
    }
    .login .login-right-side-man img,
    .register .login-right-side-man img {
         width: 38%;
     }
    .login-left-side-cancel,
    .login-left-side-reset{
        margin-top: 20px;
        width: 100%;
        height: 48px;
        line-height: 25px;
        font-size: 13px;
    }
    .login-left-side {
        padding: 20px;
    }
    .login-right-side h4 {
        font-size: 20px;
        line-height: 0;
    }
    .login-left-side img {
        width: 53%;
    }
    .login-right-side-email,
    .login-right-side-password {
        height: 47px;
        font-size: 15px;
    }
    .login-right-side-password-icon {
        right: 16px;
        top: 15px;
        width: 20px;
    }
    .login-right-side-man {
        width: 55px;
        height: 55px;
    }
    .login-right-side-man img {
        width: 25%;
    }
    .login-left-side-signin {
        height: 48px;
        line-height: 25px;
        font-size: 13px;
    }
    .login-left-side-signup {
        margin: 33px 0;
        width: 100%;
        height: 48px;
        line-height: 25px;
        font-size: 13px;
    }
    .registration-1-left-content-logo img {
        width: 140px;
    }
    .registration-1-left-content-title {
        font-size: 22px;
        line-height: 28px;
        max-width: 64%;
    }
    .registrations-pages {
        right: -21px;
        width: 33px;
    }
}
@media (max-width: 720px) {
    .register .login-right-side {
        width: 100%;
        padding: 30px 0;
    }
    .register .login-content {
        height: 960px;
    }
    .register .login-right-side-content {
        justify-content: center;
        align-items: center;
    }
    .register .login-right-side h4 {
        width: 100%;
        text-align: center;
    }
    .forgot, .reset, .register, .login  {
        padding: 0;
    }
    .forgot-password-text,
    .login-right-side h4 {
        text-align: center;
        margin: 20px auto;
    }
    .login {
        padding: 0;
    }
    .register .login-content {
        flex-direction: column-reverse;
    }
    .login-content {
        flex-direction: column-reverse;
    }
    .registration-1-info .login-left-side {
        width: 100%;
    }
    .login-left-side img {
        width: 120px;
    }
    .login-left-side h1 {
        margin: 40px 0px 40px 0px;
    }
    .login-left-side-signup {
        width: 70%;
        margin: 20px auto;
    }
    .registration-1-info .login-right-side {
        width: 100%;
    }
    .login-right-side-content {
        justify-content: center;
        align-items: center;
    }
    .login-right-side h4 {
        text-align: center;
    }
    .registration-1-info .login-left-side {
        height: auto;
    }
    .registration-1-info .login-right-side {
        height: auto;
        margin: 50px 0;
    }
    .registration-1-left-content-logo {
        margin-top: 0;
    }
    .registration-1-info .login-right-side {
        width: 100%;
    }
    .registrations-pages {
        right: -20px;
        width: 33px;
        bottom: -10px;
    }
    .registration-1-info .login-content {
        height: auto;
    }
}
@media (max-width: 480px) {
    .registration-5-info {
        padding: 22px;
        height: 400px;
    }
    .registration-5-title {
        font-size: 24px;
    }
    .registration-5-btn {
        width: 80%;
        margin-top: 44px;
    }
    .streamline-div {
        width: 80%;
    }
    .streamline-services label {
        width: 100%;
    }
    .streamline-services {
        justify-content: center;
        margin-bottom: 50px;
    }
    .register .login-right-side {
        height: 800px;
    }
    .reset .login-left-side-signin {
        margin-top: 0;
    }
    .login-right-side h4 {
        font-size: 18px;
    }
    .reset-pass-must-characters {
        font-size: 11px;
        margin-left: 0;
    }
    .login-left-side {
        height: 540px;
        padding: 20px;
    }
    .login-left-side h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .login-right-side form {
        width: 100%;
    }
    .login-right-side-email,
    .login-right-side-password {
        margin-bottom: 20px;
        width: 100%;
    }
    .login-right-side-checkbox {
        font-size: 12px;
    }
    .login-right-side-forgot-pass {
        font-size: 12px;
    }
    .login-right-side-content {
        width: 93%;
    }
    .login-right-side {
        height: 400px;
    }
    .login-left-side {
        height: 400px;
    }
    .login-content {
        height: 800px;
    }
    .registration-1-right-content-title {
        font-size: 18px;
        line-height: 25px;
    }
    .registration-1-left-content-title {
        font-size: 16px;
    }
    .registration-1-info  .login-left-side-signin {
        margin-top: 20px;
    }
    .business-unique {
        width: 85%;
    }
    .registration-1-right-content-title {
        margin-bottom: 20px;
    }
}